data/n8n-staged/C6tRJSgLueeA1Ibd.json
{"name": "OJ-Funnel-Event", "nodes": [{"id": "wh", "name": "Event Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 0], "parameters": {"httpMethod": "POST", "path": "event", "responseMode": "responseNode", "options": {}}, "webhookId": "oj-funnel-event"}, {"id": "ins", "name": "Insert Event", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 0], "parameters": {"jsCode": "const OJ_URL='https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst b=$input.item.json.body||$input.item.json||{};\nconst name=(b.event_name||'unknown').toString().slice(0,64);\nconst payload={page:b.page||null,session_id:b.session_id||null,props:b.props||null,utm:b.utm||null,src:'landing_beacon'};\ntry{\n  await helpers.httpRequest({method:'POST',url:OJ_URL+'/rest/v1/events',\n    headers:{'apikey':OJ_KEY,'Authorization':'Bearer '+OJ_KEY,'Content-Type':'application/json','Prefer':'return=minimal'},\n    body:{event_type:'funnel_'+name,actor:'system',payload:payload}});\n}catch(e){console.error('event_insert_failed',e.message);}\nreturn [{json:{ok:true}}];"}}, {"id": "resp", "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [440, 0], "parameters": {"respondWith": "json", "responseBody": "={ \"ok\": true }"}}], "connections": {"Event Webhook": {"main": [[{"node": "Insert Event", "type": "main", "index": 0}]]}, "Insert Event": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}}