data/n8n-staged/NFBiN7DLDoYXVrUT.json
{"name": "BS-Onboarding", "nodes": [{"id": "bs-onboard-webhook", "name": "BS Purchase Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 300], "webhookId": "bs-onboarding", "parameters": {"path": "bs-onboarding", "httpMethod": "POST", "responseMode": "responseNode", "options": {}}}, {"id": "process-onboard", "name": "Process Purchase + Send Tier-Aware Onboarding", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [280, 300], "parameters": {"jsCode": "// ponytail: mirrors OJ-DFY-Onboarding's Stripe-webhook-parse + idempotency-by-session_id shape,\n// extended to be tier-aware for BOTH the EUR1,000 BS assessment purchase and the EUR25,000 BS DFY\n// purchase (different onboarding content each), distinct from BS-Stripe-Payment-Delivery (which\n// handles report delivery, not the welcome/kickoff email, and has no idempotency guard).\n// pod task-runner disallows require('https'); use n8n helpers.httpRequest instead\nasync function hGet(h,p,hdr){\n  const resp = await this.helpers.httpRequest({ method: 'GET', url: 'https://' + h + p, headers: hdr, json: true });\n  return resp;\n}\n\nconst SK = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyaHBtdmZkemxsc292bHVhaGpmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTgzMjE1MSwiZXhwIjoyMDk3NDA4MTUxfQ.zlZs4caHZQSgSs5OIHYnXP_8RaJlpoNH2mA_U76qsMA\";\nconst SH = { apikey: SK, Authorization: 'Bearer '+SK };\n\nconst raw = $input.first().json;\nconst body = raw.body || raw;\nconst eventType = body.type || 'checkout.session.completed'; // default so a raw test-session payload (no envelope) still works\nconst dataObj = (body.data && body.data.object) ? body.data.object : body;\n\nif (eventType !== 'checkout.session.completed') {\n  return [{ json: { skipped: true, reason: 'not_a_checkout_completion', event_type: eventType } }];\n}\n\nconst customerEmail = (dataObj.customer_email || (dataObj.customer_details && dataObj.customer_details.email) || '').toLowerCase();\nconst sessionId = dataObj.id || null;\nconst amountTotal = (dataObj.amount_total || 0) / 100;\nconst livemode = body.livemode === true;\n\nif (!sessionId) {\n  return [{ json: { skipped: true, reason: 'no_session_id' } }];\n}\n\n// Idempotency: skip if this session_id was already onboarded (bs_event_log, action_type=bs_onboarding_sent).\nconst seen = await hGet.call(this, 'srhpmvfdzllsovluahjf.supabase.co', '/rest/v1/bs_event_log?action_type=eq.bs_onboarding_sent&task_id=eq.' + encodeURIComponent(sessionId) + '&select=id&limit=1', SH);\nif (Array.isArray(seen) && seen.length > 0) {\n  return [{ json: { skipped: true, reason: 'already_onboarded', session_id: sessionId } }];\n}\n\n// Tier detection: metadata.tier wins if set, else infer from amount (EUR1,000 assessment vs EUR25,000 DFY).\nlet tier = (dataObj.metadata && dataObj.metadata.tier) ? dataObj.metadata.tier : null;\nif (!tier) {\n  tier = amountTotal >= 10000 ? 'dfy' : 'assessment';\n}\n\n// Best-effort contact match by email (BS contacts table, not 'prospects' -- that's the OJ tenant's table name).\nlet firstName = 'there', company = 'your organization';\nif (customerEmail) {\n  const rows = await hGet.call(this, 'srhpmvfdzllsovluahjf.supabase.co', '/rest/v1/contacts?email=eq.' + encodeURIComponent(customerEmail) + '&select=name,company&limit=1', SH);\n  if (Array.isArray(rows) && rows.length > 0) {\n    firstName = (rows[0].name || '').split(' ')[0] || firstName;\n    company = rows[0].company || company;\n  }\n}\n\nconst TO = customerEmail || 'info+bsonboard-test@bettersocieties.world';\n\nreturn [{ json: { ok: true, tier, sessionId, amountTotal, livemode, customerEmail: TO, firstName, company } }];\n"}}, {"id": "is-skipped", "name": "Skipped?", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [520, 300], "parameters": {"jsCode": "const items = $input.all().map(i => i.json);\nreturn items.filter(i => i.ok === true).map(i => ({ json: i }));\n"}}, {"id": "build-email", "name": "Build Tier-Aware Onboarding Email", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [760, 300], "parameters": {"jsCode": "const p = $input.item.json;\nconst isDfy = p.tier === 'dfy';\n\nconst subject = isDfy\n  ? 'Welcome to the Better Societies DFY EU AI Act Compliance Program'\n  : 'Welcome to your Better Societies EU AI Act Assessment';\n\nconst html = isDfy ? `<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;background:#fff;color:#1a1a2e\">\n<div style=\"border-top:4px solid #1a1a2e;padding-top:24px;margin-bottom:32px\"><strong style=\"font-size:18px\">Better Societies</strong></div>\n<h2 style=\"margin-bottom:8px\">Welcome, ${p.firstName}.</h2>\n<p style=\"color:#444;font-size:15px;line-height:1.6\">Your Better Societies DFY EU AI Act Compliance Program is confirmed (&euro;${p.amountTotal.toFixed(0)}) for ${p.company}.</p>\n<div style=\"background:#f0f4ff;border-left:4px solid #3b5bdb;padding:16px 20px;margin:24px 0;border-radius:4px\">\n<strong style=\"font-size:14px\">What happens next:</strong>\n<ol style=\"font-size:14px;margin-top:8px;padding-left:18px;line-height:1.8\">\n<li><strong>Today</strong>: We confirm scope on a 30-minute kickoff call</li>\n<li><strong>Week 1</strong>: Full AI-systems inventory + Annex III classification</li>\n<li><strong>Week 2-4</strong>: Compliance documentation + remediation plan built and delivered</li>\n<li><strong>Ongoing</strong>: Managed compliance updates through the Aug 2, 2026 deadline</li>\n</ol></div>\n<p><a href=\"https://cal.com/adrien-harrison/better-societies-full-conformity-kickoff\">Book your kickoff call</a></p>\n<p style=\"margin-top:28px\">Adrien<br><span style=\"color:#888;font-size:12px\">Better Societies &middot; bettersocieties.world</span></p>\n</body></html>`\n : `<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;background:#fff;color:#1a1a2e\">\n<div style=\"border-top:4px solid #1a1a2e;padding-top:24px;margin-bottom:32px\"><strong style=\"font-size:18px\">Better Societies</strong></div>\n<h2 style=\"margin-bottom:8px\">Welcome, ${p.firstName}.</h2>\n<p style=\"color:#444;font-size:15px;line-height:1.6\">Your EU AI Act compliance assessment is confirmed (&euro;${p.amountTotal.toFixed(0)}).</p>\n<div style=\"background:#f0f4ff;border-left:4px solid #3b5bdb;padding:16px 20px;margin:24px 0;border-radius:4px\">\n<strong style=\"font-size:14px\">What happens next:</strong>\n<ol style=\"font-size:14px;margin-top:8px;padding-left:18px;line-height:1.8\">\n<li>We review your AI systems and build your initial compliance snapshot</li>\n<li>Your EU AI Act readiness report arrives within 48 hours</li>\n<li>We schedule your 30-minute review call to walk through findings</li>\n<li>You leave with a prioritized action list for the Aug 2, 2026 deadline</li>\n</ol></div>\n<div style=\"margin:24px 0\"><strong style=\"font-size:14px\">Where clients usually go after their assessment:</strong><ul style=\"font-size:14px;line-height:1.8;padding-left:18px;margin-top:8px\"><li><strong>Gap Assessment (&euro;2,500).</strong> We review your current documentation and processes against every article that applies to you and give you a prioritised fix list.</li><li><strong>Compliance Roadmap (&euro;5,000).</strong> You get a complete implementation plan, including templates for your technical documentation, risk management, and human oversight policies.</li><li><strong>Done-For-You Full Conformity (&euro;25,000).</strong> We do the entire job for you, from AI system registration to your Declaration of Conformity, with 30 days of questions answered afterwards. Every euro you have already paid is credited.</li></ul></div><p>Questions before your report arrives? Reply directly to this email.</p>\n<p style=\"margin-top:28px\">Adrien<br><span style=\"color:#888;font-size:12px\">Better Societies &middot; bettersocieties.world</span></p>\n</body></html>`;\n\nreturn [{ json: { ...p, subject, html } }];\n"}}, {"id": "send-gmail", "name": "Send Onboarding via Gmail", "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [1000, 300], "parameters": {"operation": "send", "sendTo": "={{ $json.customerEmail }}", "subject": "={{ $json.subject }}", "emailType": "html", "message": "={{ $json.html }}", "options": {}}, "credentials": {"gmailOAuth2": {"id": "zzScGt99VQkqgmNQ", "name": "Gmail - Better Societies"}}, "webhookId": "83de7e8b-8dfc-4a37-a194-fcfc0f5cf5fc"}, {"id": "log-onboarding", "name": "Log Onboarding To bs_event_log (idempotency key)", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [1240, 300], "parameters": {"jsCode": "const SB_URL = 'https://srhpmvfdzllsovluahjf.supabase.co/rest/v1';\nconst SB_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyaHBtdmZkemxsc292bHVhaGpmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTgzMjE1MSwiZXhwIjoyMDk3NDA4MTUxfQ.zlZs4caHZQSgSs5OIHYnXP_8RaJlpoNH2mA_U76qsMA';\n\n// ponytail: the Gmail node's output REPLACES $json with its own response shape (id/threadId/labelIds),\n// dropping the custom fields set upstream -- read the purchase context from the named upstream node\n// instead of $input.item.json, which now holds only the Gmail response.\nconst p = $('Build Tier-Aware Onboarding Email').item.json;\nconst gmailResp = $input.item.json; // Gmail node output includes id/threadId on success\n\nlet logResult = { ok: false };\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: SB_URL + '/bs_event_log',\n    headers: { apikey: SB_KEY, Authorization: 'Bearer ' + SB_KEY, 'Content-Type': 'application/json', Prefer: 'return=representation' },\n    body: {\n      action_type: 'bs_onboarding_sent',\n      task_id: p.sessionId,\n      summary: 'BS onboarding email sent (' + p.tier + ' tier)',\n      payload: { tier: p.tier, to: p.customerEmail, amount_eur: p.amountTotal, gmail_message_id: gmailResp.id || null, session_id: p.sessionId },\n      is_test: !p.livemode,\n      livemode: !!p.livemode,\n    },\n    json: true,\n  });\n  logResult = { ok: true, log_id: resp && resp[0] && resp[0].id };\n} catch (e) {\n  logResult = { ok: false, error: String(e) };\n}\n\nreturn [{ json: { onboarding_sent: true, tier: p.tier, to: p.customerEmail, session_id: p.sessionId, gmail_message_id: gmailResp.id || null, log: logResult } }];\n"}}, {"id": "respond-onboard", "name": "Respond OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1480, 300], "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}"}}, {"id": "respond-skipped", "name": "Respond Skipped", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [520, 480], "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}"}}, {"id": "skipped-only-filter", "name": "Skipped-Only Filter", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [520, 480], "parameters": {"jsCode": "const items = $input.all().map(i => i.json);\nreturn items.filter(i => i.ok !== true).map(i => ({ json: i }));\n"}}], "connections": {"BS Purchase Webhook": {"main": [[{"node": "Process Purchase + Send Tier-Aware Onboarding", "type": "main", "index": 0}]]}, "Process Purchase + Send Tier-Aware Onboarding": {"main": [[{"node": "Skipped?", "type": "main", "index": 0}, {"node": "Skipped-Only Filter", "type": "main", "index": 0}]]}, "Skipped?": {"main": [[{"node": "Build Tier-Aware Onboarding Email", "type": "main", "index": 0}]]}, "Build Tier-Aware Onboarding Email": {"main": [[{"node": "Send Onboarding via Gmail", "type": "main", "index": 0}]]}, "Send Onboarding via Gmail": {"main": [[{"node": "Log Onboarding To bs_event_log (idempotency key)", "type": "main", "index": 0}]]}, "Log Onboarding To bs_event_log (idempotency key)": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]}, "Skipped-Only Filter": {"main": [[{"node": "Respond Skipped", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}}