data/n8n-fetched/3wl0Dc6mQnQU7AWO.json
{"updatedAt":"2026-07-14T19:01:16.107Z","createdAt":"2026-07-14T19:01:16.107Z","id":"3wl0Dc6mQnQU7AWO","name":"BS-Compliance-Nurture","description":null,"active":true,"isArchived":false,"nodes":[{"id":"bs-nurture-schedule-0001","name":"Hourly Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}}},{"id":"bs-nurture-find-0002","name":"Find Contacts Due Nurture","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"// Find contacts due for nurture touch (Day 3, 7, or 14)\n// Fixed: replaced $helpers.httpRequest with https module (fetch/URL not available in this n8n version)\n\nconst SUPABASE_URL = 'https://srhpmvfdzllsovluahjf.supabase.co';\nconst API_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyaHBtdmZkemxsc292bHVhaGpmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTgzMjE1MSwiZXhwIjoyMDk3NDA4MTUxfQ.zlZs4caHZQSgSs5OIHYnXP_8RaJlpoNH2mA_U76qsMA';\nconst AUTH = 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyaHBtdmZkemxsc292bHVhaGpmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTgzMjE1MSwiZXhwIjoyMDk3NDA4MTUxfQ.zlZs4caHZQSgSs5OIHYnXP_8RaJlpoNH2mA_U76qsMA';\n\nconst https = require('https');\n\nfunction buildQs(params) {\n  return Object.entries(params)\n    .map(([k, v]) => encodeURIComponent(k) + '=' + encodeURIComponent(String(v)))\n    .join('&');\n}\n\nasync function sbGet(table, params) {\n  return new Promise((resolve, reject) => {\n    const qs = buildQs(params);\n    const path = '/rest/v1/' + table + '?' + qs;\n    const opts = {\n      hostname: 'srhpmvfdzllsovluahjf.supabase.co',\n      port: 443,\n      path: path,\n      method: 'GET',\n      headers: {\n        'apikey': API_KEY,\n        'Authorization': AUTH\n      }\n    };\n    const req = https.request(opts, (res) => {\n      let body = '';\n      res.on('data', c => body += c);\n      res.on('end', () => {\n        try { resolve(JSON.parse(body)); }\n        catch { resolve([]); }\n      });\n    });\n    req.on('error', () => resolve([]));\n    req.end();\n  });\n}\n\n\nconst now = new Date();\n\nfunction getDayWindow(days) {\n  const target = new Date(now.getTime() - days * 24 * 60 * 60 * 1000);\n  const from = new Date(target.getTime() - 30 * 60 * 1000);\n  const to = new Date(target.getTime() + 30 * 60 * 1000);\n  return { from: from.toISOString(), to: to.toISOString(), label: 'day' + days };\n}\n\nconst windows = [getDayWindow(3), getDayWindow(7), getDayWindow(14)];\nconst due = [];\n\nfor (const window of windows) {\n  const deliveries = await sbGet('bs_event_log', {\n    action_type: 'eq.bs_compliance_email_sent',\n    created_at: 'gte.' + window.from,\n    'created_at.lte': window.to,\n    select: 'task_id,created_at,payload'\n  });\n\n  for (const delivery of (Array.isArray(deliveries) ? deliveries : [])) {\n    const nurtureType = 'bs_nurture_' + window.label;\n    const existing = await sbGet('bs_event_log', {\n      action_type: 'eq.' + nurtureType,\n      task_id: 'eq.' + delivery.task_id,\n      select: 'id',\n      limit: '1'\n    });\n\n    if (!existing || !Array.isArray(existing) || existing.length === 0) {\n      let payload = {};\n      try { payload = JSON.parse(delivery.payload); } catch(e) {}\n      due.push({\n        call_sid: delivery.task_id,\n        to_email: payload.to || '',\n        touch: window.label,\n        nurture_type: nurtureType,\n        delivered_at: delivery.created_at\n      });\n    }\n  }\n}\n\nreturn due.map(d => ({ json: d }));\n","mode":"runOnceForAllItems"}},{"id":"bs-nurture-build-0003","name":"Build Nurture Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"parameters":{"jsCode":"const _daysToAug2 = Math.max(0, Math.ceil((new Date('2026-08-02T00:00:00Z') - new Date()) / 86400000));\n// Build nurture email based on touch (day3/day7/day14)\nconst item = $input.first().json;\nconst touch = item.touch;\n\nconst emails = {\n  day3: {\n    subject: 'Quick question about your AI Act compliance report',\n    html: `<p>Hi,</p>\n<p>We sent over your EU AI Act compliance report three days ago. Hope it was useful.</p>\n<p>One quick question: was there a specific system or use case you're most worried about classifying correctly?</p>\n<p>Happy to answer that directly, no call needed. Just reply here.</p>\n<p>Or if you'd like to walk through it with an expert, you can grab 30 minutes at <a href=\"https://comply.bettersocieties.world\">comply.bettersocieties.world</a>.</p>\n<p>Adrien<br>Better Societies</p>`\n  },\n  day7: {\n    subject: `The August 2 deadline is ${_daysToAug2} days away`,\n    html: `<p>Hi,</p>\n<p>Just a quick heads-up: the EU AI Act's August 2, 2026 deadline is now ' + _daysToAug2 + ' days out. Organisations that haven't registered high-risk AI systems by then face fines of up to 3% of global turnover.</p>\n<p>If you're still figuring out your classification, that's the most important thing to resolve first. We can help you do it in a single session.</p>\n<p>Book a call at <a href=\"https://comply.bettersocieties.world\">comply.bettersocieties.world</a>.</p>\n<p>Adrien<br>Better Societies</p>`\n  },\n  day14: {\n    subject: 'Last note from Better Societies',\n    html: `<p>Hi,</p>\n<p>This is my last note on the compliance report we sent over two weeks ago.</p>\n<p>If the timing wasn't right, no worries. When it is, <a href=\"https://comply.bettersocieties.world\">comply.bettersocieties.world</a> is where to start.</p>\n<p>For organisations that need the full job done without lifting a finger, our Done-For-You service covers everything from AI system registration to the Declaration of Conformity, plus 30 days of Q&amp;A. It's &euro;25,000 and all prior fees are credited.</p>\n<p><a href=\"https://buy.stripe.com/28E5kC3OMacc60l9X8g360m\">See the Done-For-You offer &rarr;</a> &nbsp;&bull;&nbsp; <a href=\"https://cal.com/adrien-harrison/better-societies-full-conformity-kickoff\">Book a call first</a></p>\n<p>Best,<br>Adrien<br>Better Societies</p>`\n  }\n};\n\nconst email = emails[touch] || emails.day3;\nreturn [{ json: { ...item, subject: email.subject, html: email.html } }];"}},{"id":"bs-nurture-send-0004","name":"Send via Gmail (BS)","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[900,300],"credentials":{"gmailOAuth2":{"id":"zzScGt99VQkqgmNQ","name":"Gmail - Better Societies"}},"parameters":{"operation":"send","sendTo":"={{ $json.to_email }}","subject":"={{ $json.subject }}","emailType":"html","message":"={{ $json.html }}","options":{}},"webhookId":"1bea2734-6ba4-4cfd-9a9d-6994c47474d7"},{"id":"bs-nurture-log-0005","name":"Log Nurture Touch","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300],"parameters":{"jsCode":"// Log nurture touch to bs_event_log to prevent re-sends\n// Fixed: replaced $helpers.httpRequest with https module\nconst item = $input.first().json;\nconst API_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyaHBtdmZkemxsc292bHVhaGpmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTgzMjE1MSwiZXhwIjoyMDk3NDA4MTUxfQ.zlZs4caHZQSgSs5OIHYnXP_8RaJlpoNH2mA_U76qsMA';\nconst AUTH = 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyaHBtdmZkemxsc292bHVhaGpmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTgzMjE1MSwiZXhwIjoyMDk3NDA4MTUxfQ.zlZs4caHZQSgSs5OIHYnXP_8RaJlpoNH2mA_U76qsMA';\n\nconst https = require('https');\n\nawait new Promise((resolve, reject) => {\n  const body = JSON.stringify({\n    action_type: item.nurture_type,\n    task_id: item.call_sid,\n    target: 'email',\n    summary: 'BS nurture ' + item.touch + ' sent to ' + item.to_email,\n    payload: JSON.stringify({ to: item.to_email, touch: item.touch, subject: item.subject }),\n    cycle_id: 'nurture-' + item.touch + '-' + Date.now(),\n    outcome: 'sent'\n  });\n  const opts = {\n    hostname: 'srhpmvfdzllsovluahjf.supabase.co',\n    port: 443,\n    path: '/rest/v1/bs_event_log',\n    method: 'POST',\n    headers: {\n      'apikey': API_KEY,\n      'Authorization': AUTH,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=minimal',\n      'Content-Length': Buffer.byteLength(body)\n    }\n  };\n  const req = https.request(opts, (res) => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => {\n      if (res.statusCode >= 200 && res.statusCode < 300) resolve(d);\n      else reject(new Error('Supabase log failed: ' + res.statusCode + ' ' + d));\n    });\n  });\n  req.on('error', reject);\n  req.write(body);\n  req.end();\n});\n\nreturn [{ json: { ok: true, touch: item.touch, to: item.to_email } }];\n"}}],"connections":{"Hourly Trigger":{"main":[[{"node":"Find Contacts Due Nurture","type":"main","index":0}]]},"Find Contacts Due Nurture":{"main":[[{"node":"Build Nurture Email","type":"main","index":0}]]},"Build Nurture Email":{"main":[[{"node":"Send via Gmail (BS)","type":"main","index":0}]]},"Send via Gmail (BS)":{"main":[[{"node":"Log Nurture Touch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Hourly Trigger":{"recurrenceRules":[null],"recurrenceRuleSignatures":[null]}},"meta":null,"nodeGroups":[],"pinData":null,"versionId":"ec4524ad-1549-42c0-9226-11d0ed66425d","activeVersionId":"ec4524ad-1549-42c0-9226-11d0ed66425d","versionCounter":1,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-07-14T19:01:16.107Z","createdAt":"2026-07-14T19:01:16.107Z","role":"workflow:owner","workflowId":"3wl0Dc6mQnQU7AWO","projectId":"aG0DYxb0hhrRA8cY","project":{"updatedAt":"2026-07-13T07:42:55.665Z","createdAt":"2026-07-13T07:36:36.999Z","id":"aG0DYxb0hhrRA8cY","name":"Adrien Harrison <info@opsjuice.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"}}],"tags":[],"activeVersion":{"updatedAt":"2026-07-14T19:01:16.107Z","createdAt":"2026-07-14T19:01:16.107Z","versionId":"ec4524ad-1549-42c0-9226-11d0ed66425d","workflowId":"3wl0Dc6mQnQU7AWO","nodes":[{"id":"bs-nurture-schedule-0001","name":"Hourly Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}}},{"id":"bs-nurture-find-0002","name":"Find Contacts Due Nurture","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"// Find contacts due for nurture touch (Day 3, 7, or 14)\n// Fixed: replaced $helpers.httpRequest with https module (fetch/URL not available in this n8n version)\n\nconst SUPABASE_URL = 'https://srhpmvfdzllsovluahjf.supabase.co';\nconst API_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyaHBtdmZkemxsc292bHVhaGpmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTgzMjE1MSwiZXhwIjoyMDk3NDA4MTUxfQ.zlZs4caHZQSgSs5OIHYnXP_8RaJlpoNH2mA_U76qsMA';\nconst AUTH = 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyaHBtdmZkemxsc292bHVhaGpmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTgzMjE1MSwiZXhwIjoyMDk3NDA4MTUxfQ.zlZs4caHZQSgSs5OIHYnXP_8RaJlpoNH2mA_U76qsMA';\n\nconst https = require('https');\n\nfunction buildQs(params) {\n  return Object.entries(params)\n    .map(([k, v]) => encodeURIComponent(k) + '=' + encodeURIComponent(String(v)))\n    .join('&');\n}\n\nasync function sbGet(table, params) {\n  return new Promise((resolve, reject) => {\n    const qs = buildQs(params);\n    const path = '/rest/v1/' + table + '?' + qs;\n    const opts = {\n      hostname: 'srhpmvfdzllsovluahjf.supabase.co',\n      port: 443,\n      path: path,\n      method: 'GET',\n      headers: {\n        'apikey': API_KEY,\n        'Authorization': AUTH\n      }\n    };\n    const req = https.request(opts, (res) => {\n      let body = '';\n      res.on('data', c => body += c);\n      res.on('end', () => {\n        try { resolve(JSON.parse(body)); }\n        catch { resolve([]); }\n      });\n    });\n    req.on('error', () => resolve([]));\n    req.end();\n  });\n}\n\n\nconst now = new Date();\n\nfunction getDayWindow(days) {\n  const target = new Date(now.getTime() - days * 24 * 60 * 60 * 1000);\n  const from = new Date(target.getTime() - 30 * 60 * 1000);\n  const to = new Date(target.getTime() + 30 * 60 * 1000);\n  return { from: from.toISOString(), to: to.toISOString(), label: 'day' + days };\n}\n\nconst windows = [getDayWindow(3), getDayWindow(7), getDayWindow(14)];\nconst due = [];\n\nfor (const window of windows) {\n  const deliveries = await sbGet('bs_event_log', {\n    action_type: 'eq.bs_compliance_email_sent',\n    created_at: 'gte.' + window.from,\n    'created_at.lte': window.to,\n    select: 'task_id,created_at,payload'\n  });\n\n  for (const delivery of (Array.isArray(deliveries) ? deliveries : [])) {\n    const nurtureType = 'bs_nurture_' + window.label;\n    const existing = await sbGet('bs_event_log', {\n      action_type: 'eq.' + nurtureType,\n      task_id: 'eq.' + delivery.task_id,\n      select: 'id',\n      limit: '1'\n    });\n\n    if (!existing || !Array.isArray(existing) || existing.length === 0) {\n      let payload = {};\n      try { payload = JSON.parse(delivery.payload); } catch(e) {}\n      due.push({\n        call_sid: delivery.task_id,\n        to_email: payload.to || '',\n        touch: window.label,\n        nurture_type: nurtureType,\n        delivered_at: delivery.created_at\n      });\n    }\n  }\n}\n\nreturn due.map(d => ({ json: d }));\n","mode":"runOnceForAllItems"}},{"id":"bs-nurture-build-0003","name":"Build Nurture Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"parameters":{"jsCode":"const _daysToAug2 = Math.max(0, Math.ceil((new Date('2026-08-02T00:00:00Z') - new Date()) / 86400000));\n// Build nurture email based on touch (day3/day7/day14)\nconst item = $input.first().json;\nconst touch = item.touch;\n\nconst emails = {\n  day3: {\n    subject: 'Quick question about your AI Act compliance report',\n    html: `<p>Hi,</p>\n<p>We sent over your EU AI Act compliance report three days ago. Hope it was useful.</p>\n<p>One quick question: was there a specific system or use case you're most worried about classifying correctly?</p>\n<p>Happy to answer that directly, no call needed. Just reply here.</p>\n<p>Or if you'd like to walk through it with an expert, you can grab 30 minutes at <a href=\"https://comply.bettersocieties.world\">comply.bettersocieties.world</a>.</p>\n<p>Adrien<br>Better Societies</p>`\n  },\n  day7: {\n    subject: `The August 2 deadline is ${_daysToAug2} days away`,\n    html: `<p>Hi,</p>\n<p>Just a quick heads-up: the EU AI Act's August 2, 2026 deadline is now ' + _daysToAug2 + ' days out. Organisations that haven't registered high-risk AI systems by then face fines of up to 3% of global turnover.</p>\n<p>If you're still figuring out your classification, that's the most important thing to resolve first. We can help you do it in a single session.</p>\n<p>Book a call at <a href=\"https://comply.bettersocieties.world\">comply.bettersocieties.world</a>.</p>\n<p>Adrien<br>Better Societies</p>`\n  },\n  day14: {\n    subject: 'Last note from Better Societies',\n    html: `<p>Hi,</p>\n<p>This is my last note on the compliance report we sent over two weeks ago.</p>\n<p>If the timing wasn't right, no worries. When it is, <a href=\"https://comply.bettersocieties.world\">comply.bettersocieties.world</a> is where to start.</p>\n<p>For organisations that need the full job done without lifting a finger, our Done-For-You service covers everything from AI system registration to the Declaration of Conformity, plus 30 days of Q&amp;A. It's &euro;25,000 and all prior fees are credited.</p>\n<p><a href=\"https://buy.stripe.com/28E5kC3OMacc60l9X8g360m\">See the Done-For-You offer &rarr;</a> &nbsp;&bull;&nbsp; <a href=\"https://cal.com/adrien-harrison/better-societies-full-conformity-kickoff\">Book a call first</a></p>\n<p>Best,<br>Adrien<br>Better Societies</p>`\n  }\n};\n\nconst email = emails[touch] || emails.day3;\nreturn [{ json: { ...item, subject: email.subject, html: email.html } }];"}},{"id":"bs-nurture-send-0004","name":"Send via Gmail (BS)","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[900,300],"credentials":{"gmailOAuth2":{"id":"zzScGt99VQkqgmNQ","name":"Gmail - Better Societies"}},"parameters":{"operation":"send","sendTo":"={{ $json.to_email }}","subject":"={{ $json.subject }}","emailType":"html","message":"={{ $json.html }}","options":{}},"webhookId":"1bea2734-6ba4-4cfd-9a9d-6994c47474d7"},{"id":"bs-nurture-log-0005","name":"Log Nurture Touch","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300],"parameters":{"jsCode":"// Log nurture touch to bs_event_log to prevent re-sends\n// Fixed: replaced $helpers.httpRequest with https module\nconst item = $input.first().json;\nconst API_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyaHBtdmZkemxsc292bHVhaGpmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTgzMjE1MSwiZXhwIjoyMDk3NDA4MTUxfQ.zlZs4caHZQSgSs5OIHYnXP_8RaJlpoNH2mA_U76qsMA';\nconst AUTH = 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyaHBtdmZkemxsc292bHVhaGpmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTgzMjE1MSwiZXhwIjoyMDk3NDA4MTUxfQ.zlZs4caHZQSgSs5OIHYnXP_8RaJlpoNH2mA_U76qsMA';\n\nconst https = require('https');\n\nawait new Promise((resolve, reject) => {\n  const body = JSON.stringify({\n    action_type: item.nurture_type,\n    task_id: item.call_sid,\n    target: 'email',\n    summary: 'BS nurture ' + item.touch + ' sent to ' + item.to_email,\n    payload: JSON.stringify({ to: item.to_email, touch: item.touch, subject: item.subject }),\n    cycle_id: 'nurture-' + item.touch + '-' + Date.now(),\n    outcome: 'sent'\n  });\n  const opts = {\n    hostname: 'srhpmvfdzllsovluahjf.supabase.co',\n    port: 443,\n    path: '/rest/v1/bs_event_log',\n    method: 'POST',\n    headers: {\n      'apikey': API_KEY,\n      'Authorization': AUTH,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=minimal',\n      'Content-Length': Buffer.byteLength(body)\n    }\n  };\n  const req = https.request(opts, (res) => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => {\n      if (res.statusCode >= 200 && res.statusCode < 300) resolve(d);\n      else reject(new Error('Supabase log failed: ' + res.statusCode + ' ' + d));\n    });\n  });\n  req.on('error', reject);\n  req.write(body);\n  req.end();\n});\n\nreturn [{ json: { ok: true, touch: item.touch, to: item.to_email } }];\n"}}],"connections":{"Hourly Trigger":{"main":[[{"node":"Find Contacts Due Nurture","type":"main","index":0}]]},"Find Contacts Due Nurture":{"main":[[{"node":"Build Nurture Email","type":"main","index":0}]]},"Build Nurture Email":{"main":[[{"node":"Send via Gmail (BS)","type":"main","index":0}]]},"Send via Gmail (BS)":{"main":[[{"node":"Log Nurture Touch","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Adrien Harrison","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-07-14T19:09:11.174Z","id":10860,"workflowId":"3wl0Dc6mQnQU7AWO","versionId":"ec4524ad-1549-42c0-9226-11d0ed66425d","event":"activated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-14T20:57:58.185Z","id":12838,"workflowId":"3wl0Dc6mQnQU7AWO","versionId":"ec4524ad-1549-42c0-9226-11d0ed66425d","event":"deactivated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-14T20:57:58.198Z","id":12839,"workflowId":"3wl0Dc6mQnQU7AWO","versionId":"ec4524ad-1549-42c0-9226-11d0ed66425d","event":"activated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-15T10:59:27.714Z","id":14874,"workflowId":"3wl0Dc6mQnQU7AWO","versionId":"ec4524ad-1549-42c0-9226-11d0ed66425d","event":"deactivated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-15T10:59:27.727Z","id":14875,"workflowId":"3wl0Dc6mQnQU7AWO","versionId":"ec4524ad-1549-42c0-9226-11d0ed66425d","event":"activated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"}]}}