data/n8n-fetched/6FZyoxk8s7E2jEFG.json
{"updatedAt":"2026-07-14T19:01:25.658Z","createdAt":"2026-07-14T19:01:25.658Z","id":"6FZyoxk8s7E2jEFG","name":"OJ-Scorecard-Nurture","description":null,"active":true,"isArchived":false,"nodes":[{"id":"scn-webhook","name":"Scorecard Nurture Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"webhookId":"oj-scorecard-nurture-v1","parameters":{"httpMethod":"POST","path":"oj-scorecard-nurture","responseMode":"onReceived"}},{"id":"scn-wait","name":"Wait N Days","type":"n8n-nodes-base.wait","typeVersion":1,"position":[450,300],"parameters":{"resume":"timeInterval","amount":"={{ $json.delay_days || 2 }}","unit":"days"},"webhookId":"1c86890f-6ab9-4862-b33b-2709bcb57022"},{"id":"scn-build-email","name":"Build Nurture Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,300],"parameters":{"jsCode":"\nconst item = $input.first().json;\nconst email = item.email || \"\";\nconst name = item.name || \"\";\nconst firstName = name.split(\" \")[0] || \"there\";\nconst score = Number(item.score) || 0;\n\nconst subject = `${firstName}, still thinking it over? One thing to try first`;\nconst footer = `<p style=\"font-size:12px;color:#888;margin-top:40px;\">Echo Collective LLC, 8 East 96th Street, New York, NY 10128. You are receiving this because you completed the OpsJuice scorecard. <a href=\"#\">Unsubscribe</a></p>`;\n\nlet bodyContent;\nif (score < 6) {\n  bodyContent = `<p>Hi ${firstName},</p>\n<p>Your OpsJuice scorecard rated your operation at <strong>${score}/10</strong>. That tells us your team is spending real hours on tasks that automation handles in seconds.</p>\n<p>Before you commit to anything, grab our free <strong>Burnout-to-Freedom Guide</strong>. It maps out exactly which manual steps are draining your margin and how businesses like yours eliminated them.</p>\n<p><a href=\"https://opsjuice.com/burnout-to-freedom-guide\" style=\"background:#1a1a1a;color:#fff;padding:12px 24px;border-radius:6px;text-decoration:none;display:inline-block;\">Get the Free Guide</a></p>\n<p>Once you have read through it, the full AI Assessment will make a lot more sense and the ROI will be obvious.</p>\n<p>Questions? Just reply here.</p>\n<p>Adrien<br>OpsJuice</p>`;\n} else {\n  bodyContent = `<p>Hi ${firstName},</p>\n<p>Your OpsJuice scorecard rated your operation at <strong>${score}/10</strong>. You are already doing a lot right, which means the gap between where you are and a fully automated operation is smaller than you think.</p>\n<p>The next step is a 20-minute AI Assessment that pinpoints exactly which workflows to automate first for maximum ROI.</p>\n<p><a href=\"https://opsjuice.com/ai-assessment\" style=\"background:#1a1a1a;color:#fff;padding:12px 24px;border-radius:6px;text-decoration:none;display:inline-block;\">Book Your AI Assessment</a></p>\n<p>Ready when you are.</p>\n<p>Adrien<br>OpsJuice</p>`;\n}\n\nconst html = `<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;color:#333;\">${bodyContent}${footer}</body></html>`;\n\nreturn [{\n  json: {\n    from: \"OpsJuice <info@opsjuice.com>\",\n    to: email,\n    subject: subject,\n    html: html\n  }\n}];\n"}},{"id":"scn-send","name":"Send via Resend","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[950,300],"parameters":{"method":"POST","url":"https://api.resend.com/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer re_xRcPgRZQ_K4amwq6HnzHsYMfsMWPW23nB"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ from: $json.from, to: [$json.to], subject: $json.subject, html: $json.html }) }}","options":{}}},{"id":"scn-respond","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1200,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, nurture_sent: true }) }}"}}],"connections":{"Scorecard Nurture Webhook":{"main":[[{"node":"Wait N Days","type":"main","index":0}]]},"Wait N Days":{"main":[[{"node":"Build Nurture Email","type":"main","index":0}]]},"Build Nurture Email":{"main":[[{"node":"Send via Resend","type":"main","index":0}]]},"Send via Resend":{"main":[[{"node":"Respond OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"6505727b-bee8-46c3-bde7-f0f53128293e","activeVersionId":"6505727b-bee8-46c3-bde7-f0f53128293e","versionCounter":1,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-07-14T19:01:25.658Z","createdAt":"2026-07-14T19:01:25.658Z","role":"workflow:owner","workflowId":"6FZyoxk8s7E2jEFG","projectId":"aG0DYxb0hhrRA8cY","project":{"updatedAt":"2026-07-13T07:42:55.665Z","createdAt":"2026-07-13T07:36:36.999Z","id":"aG0DYxb0hhrRA8cY","name":"Adrien Harrison <info@opsjuice.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"}}],"tags":[],"activeVersion":{"updatedAt":"2026-07-14T19:01:25.658Z","createdAt":"2026-07-14T19:01:25.658Z","versionId":"6505727b-bee8-46c3-bde7-f0f53128293e","workflowId":"6FZyoxk8s7E2jEFG","nodes":[{"id":"scn-webhook","name":"Scorecard Nurture Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"webhookId":"oj-scorecard-nurture-v1","parameters":{"httpMethod":"POST","path":"oj-scorecard-nurture","responseMode":"onReceived"}},{"id":"scn-wait","name":"Wait N Days","type":"n8n-nodes-base.wait","typeVersion":1,"position":[450,300],"parameters":{"resume":"timeInterval","amount":"={{ $json.delay_days || 2 }}","unit":"days"},"webhookId":"1c86890f-6ab9-4862-b33b-2709bcb57022"},{"id":"scn-build-email","name":"Build Nurture Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,300],"parameters":{"jsCode":"\nconst item = $input.first().json;\nconst email = item.email || \"\";\nconst name = item.name || \"\";\nconst firstName = name.split(\" \")[0] || \"there\";\nconst score = Number(item.score) || 0;\n\nconst subject = `${firstName}, still thinking it over? One thing to try first`;\nconst footer = `<p style=\"font-size:12px;color:#888;margin-top:40px;\">Echo Collective LLC, 8 East 96th Street, New York, NY 10128. You are receiving this because you completed the OpsJuice scorecard. <a href=\"#\">Unsubscribe</a></p>`;\n\nlet bodyContent;\nif (score < 6) {\n  bodyContent = `<p>Hi ${firstName},</p>\n<p>Your OpsJuice scorecard rated your operation at <strong>${score}/10</strong>. That tells us your team is spending real hours on tasks that automation handles in seconds.</p>\n<p>Before you commit to anything, grab our free <strong>Burnout-to-Freedom Guide</strong>. It maps out exactly which manual steps are draining your margin and how businesses like yours eliminated them.</p>\n<p><a href=\"https://opsjuice.com/burnout-to-freedom-guide\" style=\"background:#1a1a1a;color:#fff;padding:12px 24px;border-radius:6px;text-decoration:none;display:inline-block;\">Get the Free Guide</a></p>\n<p>Once you have read through it, the full AI Assessment will make a lot more sense and the ROI will be obvious.</p>\n<p>Questions? Just reply here.</p>\n<p>Adrien<br>OpsJuice</p>`;\n} else {\n  bodyContent = `<p>Hi ${firstName},</p>\n<p>Your OpsJuice scorecard rated your operation at <strong>${score}/10</strong>. You are already doing a lot right, which means the gap between where you are and a fully automated operation is smaller than you think.</p>\n<p>The next step is a 20-minute AI Assessment that pinpoints exactly which workflows to automate first for maximum ROI.</p>\n<p><a href=\"https://opsjuice.com/ai-assessment\" style=\"background:#1a1a1a;color:#fff;padding:12px 24px;border-radius:6px;text-decoration:none;display:inline-block;\">Book Your AI Assessment</a></p>\n<p>Ready when you are.</p>\n<p>Adrien<br>OpsJuice</p>`;\n}\n\nconst html = `<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;color:#333;\">${bodyContent}${footer}</body></html>`;\n\nreturn [{\n  json: {\n    from: \"OpsJuice <info@opsjuice.com>\",\n    to: email,\n    subject: subject,\n    html: html\n  }\n}];\n"}},{"id":"scn-send","name":"Send via Resend","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[950,300],"parameters":{"method":"POST","url":"https://api.resend.com/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer re_xRcPgRZQ_K4amwq6HnzHsYMfsMWPW23nB"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ from: $json.from, to: [$json.to], subject: $json.subject, html: $json.html }) }}","options":{}}},{"id":"scn-respond","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1200,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, nurture_sent: true }) }}"}}],"connections":{"Scorecard Nurture Webhook":{"main":[[{"node":"Wait N Days","type":"main","index":0}]]},"Wait N Days":{"main":[[{"node":"Build Nurture Email","type":"main","index":0}]]},"Build Nurture Email":{"main":[[{"node":"Send via Resend","type":"main","index":0}]]},"Send via Resend":{"main":[[{"node":"Respond OK","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Adrien Harrison","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-07-14T19:09:16.171Z","id":10929,"workflowId":"6FZyoxk8s7E2jEFG","versionId":"6505727b-bee8-46c3-bde7-f0f53128293e","event":"activated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-14T20:58:08.107Z","id":12908,"workflowId":"6FZyoxk8s7E2jEFG","versionId":"6505727b-bee8-46c3-bde7-f0f53128293e","event":"deactivated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-14T20:58:08.118Z","id":12909,"workflowId":"6FZyoxk8s7E2jEFG","versionId":"6505727b-bee8-46c3-bde7-f0f53128293e","event":"activated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-15T10:59:35.739Z","id":14944,"workflowId":"6FZyoxk8s7E2jEFG","versionId":"6505727b-bee8-46c3-bde7-f0f53128293e","event":"deactivated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-15T10:59:35.753Z","id":14945,"workflowId":"6FZyoxk8s7E2jEFG","versionId":"6505727b-bee8-46c3-bde7-f0f53128293e","event":"activated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"}]}}