data/n8n-fetched/C6tRJSgLueeA1Ibd.json
{"updatedAt":"2026-07-14T19:01:19.605Z","createdAt":"2026-07-14T19:01:19.605Z","id":"C6tRJSgLueeA1Ibd","name":"OJ-Funnel-Event","description":null,"active":true,"isArchived":false,"nodes":[{"id":"wh","name":"Event Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"parameters":{"httpMethod":"POST","path":"event","responseMode":"responseNode","options":{}},"webhookId":"oj-funnel-event"},{"id":"ins","name":"Insert Event","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"parameters":{"jsCode":"const OJ_URL='https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst b=$input.item.json.body||$input.item.json||{};\nconst name=(b.event_name||'unknown').toString().slice(0,64);\nconst payload={page:b.page||null,session_id:b.session_id||null,props:b.props||null,src:'landing_beacon'};\ntry{\n  await helpers.httpRequest({method:'POST',url:OJ_URL+'/rest/v1/events',\n    headers:{'apikey':OJ_KEY,'Authorization':'Bearer '+OJ_KEY,'Content-Type':'application/json','Prefer':'return=minimal'},\n    body:{event_type:'funnel_'+name,actor:'system',payload:payload}});\n}catch(e){console.error('event_insert_failed',e.message);}\nreturn [{json:{ok:true}}];"}},{"id":"resp","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[440,0],"parameters":{"respondWith":"json","responseBody":"={ \"ok\": true }"}}],"connections":{"Event Webhook":{"main":[[{"node":"Insert Event","type":"main","index":0}]]},"Insert Event":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"38706623-6c5b-4143-ab17-2e23381792aa","activeVersionId":"38706623-6c5b-4143-ab17-2e23381792aa","versionCounter":1,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-07-14T19:01:19.605Z","createdAt":"2026-07-14T19:01:19.605Z","role":"workflow:owner","workflowId":"C6tRJSgLueeA1Ibd","projectId":"aG0DYxb0hhrRA8cY","project":{"updatedAt":"2026-07-13T07:42:55.665Z","createdAt":"2026-07-13T07:36:36.999Z","id":"aG0DYxb0hhrRA8cY","name":"Adrien Harrison <info@opsjuice.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"}}],"tags":[],"activeVersion":{"updatedAt":"2026-07-14T19:01:19.605Z","createdAt":"2026-07-14T19:01:19.605Z","versionId":"38706623-6c5b-4143-ab17-2e23381792aa","workflowId":"C6tRJSgLueeA1Ibd","nodes":[{"id":"wh","name":"Event Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"parameters":{"httpMethod":"POST","path":"event","responseMode":"responseNode","options":{}},"webhookId":"oj-funnel-event"},{"id":"ins","name":"Insert Event","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"parameters":{"jsCode":"const OJ_URL='https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst b=$input.item.json.body||$input.item.json||{};\nconst name=(b.event_name||'unknown').toString().slice(0,64);\nconst payload={page:b.page||null,session_id:b.session_id||null,props:b.props||null,src:'landing_beacon'};\ntry{\n  await helpers.httpRequest({method:'POST',url:OJ_URL+'/rest/v1/events',\n    headers:{'apikey':OJ_KEY,'Authorization':'Bearer '+OJ_KEY,'Content-Type':'application/json','Prefer':'return=minimal'},\n    body:{event_type:'funnel_'+name,actor:'system',payload:payload}});\n}catch(e){console.error('event_insert_failed',e.message);}\nreturn [{json:{ok:true}}];"}},{"id":"resp","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[440,0],"parameters":{"respondWith":"json","responseBody":"={ \"ok\": true }"}}],"connections":{"Event Webhook":{"main":[[{"node":"Insert Event","type":"main","index":0}]]},"Insert Event":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Adrien Harrison","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-07-14T19:09:30.666Z","id":11121,"workflowId":"C6tRJSgLueeA1Ibd","versionId":"38706623-6c5b-4143-ab17-2e23381792aa","event":"activated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-14T20:58:39.076Z","id":13104,"workflowId":"C6tRJSgLueeA1Ibd","versionId":"38706623-6c5b-4143-ab17-2e23381792aa","event":"deactivated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-14T20:58:39.090Z","id":13105,"workflowId":"C6tRJSgLueeA1Ibd","versionId":"38706623-6c5b-4143-ab17-2e23381792aa","event":"activated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-15T11:00:00.018Z","id":15140,"workflowId":"C6tRJSgLueeA1Ibd","versionId":"38706623-6c5b-4143-ab17-2e23381792aa","event":"deactivated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-15T11:00:00.057Z","id":15141,"workflowId":"C6tRJSgLueeA1Ibd","versionId":"38706623-6c5b-4143-ab17-2e23381792aa","event":"activated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"}]}}