data/n8n-fetched/J3gQgu1QffAAaLrA.json
{"updatedAt":"2026-07-17T01:19:24.029Z","createdAt":"2026-07-14T19:01:11.864Z","id":"J3gQgu1QffAAaLrA","name":"OJ-Assessment-Followup","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"oj-assessment-followup","responseMode":"responseNode","options":{}},"id":"a1b2c3d4-0001-0001-0001-000000000001","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"oj-assessment-followup-v1"},{"parameters":{"jsCode":"\n// TEST_MODE gate -- soft pass-through (FIX 5: no throw on missing assessment_id)\nconst testMode = true;\nconst body = $input.first().json.body || $input.first().json;\nconst assessmentId = body.assessment_id || null;\n// Do NOT throw -- let the downstream \"Has Assessment ID?\" IF node handle null\nreturn [{ json: { assessment_id: assessmentId, test_mode: testMode } }];\n"},"id":"a1b2c3d4-0002-0002-0002-000000000002","name":"TEST_MODE Gate","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"jsCode":"const https = require('https');\nconst { assessment_id, test_mode } = $input.first().json;\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst rows = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'wwacjhkpuaiijbkqnhsi.supabase.co',\n    path: '/rest/v1/assessments?id=eq.' + assessment_id + '&select=id,prospect_id,report_json,readiness_score,status&limit=1',\n    method: 'GET',\n    headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY, 'Content-Type': 'application/json' }\n  }, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => { try { resolve(JSON.parse(data)); } catch(e) { reject(new Error('Parse: ' + data.slice(0,200))); } });\n  });\n  req.on('error', reject);\n  req.end();\n});\nif (!Array.isArray(rows) || rows.length === 0) throw new Error('Assessment not found: ' + assessment_id);\nconst a = rows[0];\n// report_json stored as TEXT string in OJ Supabase, not JSONB -- must JSON.parse\nconst reportJson = typeof a.report_json === 'string' ? JSON.parse(a.report_json) : (a.report_json || {});\nif (!reportJson || !Array.isArray(reportJson.upsell_opportunities) || reportJson.upsell_opportunities.length === 0) {\n  throw new Error('No upsell_opportunities in report_json for assessment ' + assessment_id);\n}\nreturn [{ json: { ...a, report_json: reportJson, test_mode } }];"},"id":"a1b2c3d4-0003-0003-0003-000000000003","name":"Fetch Assessment","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"jsCode":"const https = require('https');\nconst assessment = $input.first().json;\nconst prospectId = assessment.prospect_id || null;\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nlet prospect = { id: null, business_name: 'Test Business', first_name: null, email: null, niche: null };\nif (prospectId) {\n  const rows = await new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'wwacjhkpuaiijbkqnhsi.supabase.co',\n      path: '/rest/v1/prospects?id=eq.' + prospectId + '&select=id,business_name,first_name,email,niche&limit=1',\n      method: 'GET',\n      headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY, 'Content-Type': 'application/json' }\n    }, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => { try { resolve(JSON.parse(data)); } catch(e) { reject(new Error('Parse')); } });\n    });\n    req.on('error', reject);\n    req.end();\n  });\n  if (Array.isArray(rows) && rows.length > 0) { prospect = rows[0]; }\n}\nreturn [{ json: { ...assessment, prospect } }];"},"id":"a1b2c3d4-0004-0004-0004-000000000004","name":"Fetch Prospect","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300]},{"parameters":{"jsCode":"// Build Upsell Email node jsCode (canonical v2, 2026-07-17, Adrien-direct row d0195650).\n// Keeps per-assessment personalization (greeting, business name, readiness score, opportunity\n// table) and adds the OJ brand kit, the three-retainer ladder in plain English, and the\n// CAN-SPAM footer (Echo Collective LLC, 8 East 96th Street, New York, NY 10128 + unsubscribe).\nconst data = $input.first().json;\nconst { id: assessmentId, readiness_score: _rawReadiness, report_json, prospect, test_mode } = data;\nlet readiness_score = _rawReadiness > 10 ? Math.round(_rawReadiness/10) : Number(_rawReadiness)||0;\nreadiness_score = Math.max(1, Math.min(10, Math.round(readiness_score)));\nconst opportunities = report_json.upsell_opportunities || [];\nconst businessName = prospect.business_name || 'Your Business';\nconst firstName = prospect.first_name || null;\nconst greeting = firstName ? ('Hi ' + firstName + ',') : 'Hi,';\nconst totalValue = opportunities.reduce((sum, o) => sum + (o.est_value || 0), 0);\n\nconst opportunityRows = opportunities.map((o, i) =>\n  '<tr><td style=\"padding:12px 8px;border-bottom:1px solid #F0E4D4;\"><strong>' + (i+1) + '. ' + o.type +\n  '</strong><br><span style=\"color:#6B5A4E;font-size:14px;\">' + o.description +\n  '</span></td><td style=\"padding:12px 8px;border-bottom:1px solid #F0E4D4;text-align:right;\"><strong style=\"color:#C0531E;\">$' +\n  (o.est_value||0).toLocaleString() + '</strong></td></tr>').join('');\n\nfunction tierCard(featured, name, price, desc, link, cta) {\n  const border = featured ? '2px solid #FF6B35' : '1px solid #EAD9C6';\n  const bg = featured ? '#FFF9F2' : '#FFFFFF';\n  const badge = featured ? '<p style=\"margin:0;font-size:12px;font-weight:700;letter-spacing:0.5px;color:#C0531E;\">MOST POPULAR</p>' : '';\n  return '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:' + border +\n    ';border-radius:12px;background:' + bg + ';margin:0 0 14px;\"><tr><td style=\"padding:18px 22px;\">' + badge +\n    '<p style=\"margin:' + (featured ? '6px' : '0') + ' 0 0;font-size:17px;font-weight:700;color:#2A1810;\">' + name + ', ' + price + '</p>' +\n    '<p style=\"margin:8px 0 14px;font-size:14px;line-height:1.6;color:#2A1810;\">' + desc + '</p>' +\n    '<a href=\"' + link + '\" style=\"display:inline-block;background:#FF6B35;color:#FFFFFF;padding:10px 20px;border-radius:8px;text-decoration:none;font-size:14px;font-weight:600;\">' + cta + '</a>' +\n    '</td></tr></table>';\n}\n\nconst tiers =\n  tierCard(false, 'Starter', '$1,500 per month',\n    'We build, run, and maintain the automations from your report: missed-call callbacks, review requests, appointment reminders, and lead follow-up. One new automation each month, weekly check-ins, and unlimited fixes when something breaks. Cancel any time.',\n    'https://buy.stripe.com/aFa4gs71r0DD1JG0nk2Ry0d', 'Start with Starter') +\n  tierCard(true, 'Growth', '$3,500 per month',\n    'Everything in Starter, plus a dedicated operations engineer working on your business every week. They ship new automations as your team asks for them and walk you through what changed on a weekly call. Best if you want at least one new workflow every month.',\n    'https://buy.stripe.com/28EdR21H79a91JG3zw2Ry0e', 'Start with Growth') +\n  tierCard(false, 'Scale', '$7,500 per month',\n    'Everything in Growth, plus enough hours for full customer-journey automation, back-office integrations across your existing tools, and custom reporting, with priority response and a monthly strategy session with the founder. Best if you are replacing an in-house operations hire.',\n    'https://buy.stripe.com/4gMfZa1H7cmlewsda62Ry0f', 'Start with Scale');\n\nconst html =\n  '<!DOCTYPE html><html lang=\"en\"><body style=\"margin:0;padding:0;background-color:#FFF6E9;color:#2A1810;\">' +\n  '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#FFF6E9;\"><tr><td align=\"center\" style=\"padding:32px 12px;\">' +\n  '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" style=\"width:600px;max-width:600px;background-color:#FFFFFF;border-radius:16px;overflow:hidden;box-shadow:0 1px 4px rgba(42,24,16,0.06);\">' +\n  '<tr><td style=\"padding:28px 36px 0 36px;\"><img src=\"https://assets.opsjuice.com/oj-logo-horizontal.png\" width=\"170\" alt=\"OpsJuice\" style=\"display:block;width:170px;max-width:170px;height:auto;border:0;\"></td></tr>' +\n  '<tr><td style=\"padding:22px 36px 0 36px;font-family:-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:16px;line-height:1.65;color:#2A1810;\">' +\n  '<p style=\"margin:0 0 14px;\">' + greeting + '</p>' +\n  '<p style=\"margin:0 0 14px;\">Your AI assessment report for ' + businessName + ' is ready, and every fix in it is yours to run with. Your AI readiness score is <strong>' + readiness_score + ' out of 10</strong>. Here are the opportunities we identified:</p>' +\n  '<table style=\"width:100%;border-collapse:collapse;margin:6px 0 18px;\"><thead><tr><th style=\"text-align:left;padding:10px 8px;background:#FFF6E9;border-bottom:2px solid #EAD9C6;font-size:14px;\">Opportunity</th><th style=\"text-align:right;padding:10px 8px;background:#FFF6E9;border-bottom:2px solid #EAD9C6;font-size:14px;\">Estimated value</th></tr></thead><tbody>' +\n  opportunityRows +\n  '</tbody><tfoot><tr><td style=\"padding:12px 8px;\"><strong>Total identified value</strong></td><td style=\"padding:12px 8px;text-align:right;\"><strong>$' + totalValue.toLocaleString() + '</strong></td></tr></tfoot></table>' +\n  '<p style=\"margin:0 0 16px;\">Most owners knock out the quick wins themselves, and then hand the bigger builds to us so nothing stalls. If you want us to build and run it all for you, there are three ways to work together, and your $250 assessment fee is credited toward whichever one you pick.</p>' +\n  '</td></tr>' +\n  '<tr><td style=\"padding:0 36px;\">' + tiers + '</td></tr>' +\n  '<tr><td style=\"padding:8px 36px 0 36px;font-family:-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:16px;line-height:1.65;color:#2A1810;\">' +\n  '<p style=\"margin:0 0 14px;\">Prefer to talk it through first? Your assessment includes a strategy call, so <a href=\"https://cal.com/adrien-harrison/ai-assessment\" style=\"color:#C0531E;\">book it here</a> and we will walk the report together and pick the right starting point.</p>' +\n  '<p style=\"margin:0 0 8px;\">Talk soon,<br>Adrien Harrison<br>Founder, OpsJuice</p>' +\n  '</td></tr>' +\n  '<tr><td style=\"padding:20px 36px 28px 36px;border-top:1px solid #F0E4D4;font-family:Arial,sans-serif;font-size:11px;line-height:1.6;color:#6B5A4E;\">' +\n  'OpsJuice is operated by Echo Collective LLC, 8 East 96th Street, New York, NY 10128.<br>' +\n  'You are receiving this because you purchased an OpsJuice AI Assessment. To unsubscribe, reply STOP or email <a href=\"mailto:info@opsjuice.com\" style=\"color:#6B5A4E;\">info@opsjuice.com</a>.' +\n  '</td></tr></table></td></tr></table></body></html>';\n\nconst toEmail = test_mode ? 'adrientharrison@gmail.com' : (prospect.email || null);\nif (!toEmail) throw new Error('No recipient email and not test_mode');\nreturn [{ json: { assessment_id: assessmentId, prospect_id: prospect.id || null, to_email: toEmail, test_mode, subject: (test_mode ? '[TEST] ' : '') + 'Your AI Assessment Results - ' + businessName, html, opportunities, total_value: totalValue, readiness_score } }];\n"},"id":"a1b2c3d4-0005-0005-0005-000000000005","name":"Build Upsell Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,300]},{"parameters":{"jsCode":"const https = require('https');\nconst { assessment_id, prospect_id, opportunities } = $input.first().json;\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst rows = opportunities.map(o => ({ prospect_id: prospect_id || null, opportunity_type: o.type, estimated_value: o.est_value || 0, status: 'identified' }));\nconst body = JSON.stringify(rows);\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'wwacjhkpuaiijbkqnhsi.supabase.co',\n    path: '/rest/v1/upsells',\n    method: 'POST',\n    headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY, 'Content-Type': 'application/json', 'Prefer': 'return=representation' }\n  }, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => { try { resolve({ status: res.statusCode, body: JSON.parse(data) }); } catch(e) { resolve({ status: res.statusCode, body: data }); } });\n  });\n  req.on('error', reject);\n  req.write(body);\n  req.end();\n});\nif (result.status >= 400) throw new Error('Upsell insert failed: ' + JSON.stringify(result.body).slice(0,200));\nconst inserted = Array.isArray(result.body) ? result.body : [];\nreturn [{ json: { ...$input.first().json, upsell_rows_inserted: inserted.length, upsell_ids: inserted.map(r => r.id) } }];"},"id":"a1b2c3d4-0006-0006-0006-000000000006","name":"Insert Upsell Rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,300]},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer re_xRcPgRZQ_K4amwq6HnzHsYMfsMWPW23nB"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ from: 'Adrien from OpsJuice <adrien@opsjuice.com>', to: [$json.to_email], subject: $json.subject, html: $json.html }) }}","options":{}},"id":"a1b2c3d4-0007-0007-0007-000000000007","name":"Send via Resend","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,300]},{"parameters":{"jsCode":"const https = require('https');\nconst prev = $('Insert Upsell Rows').first().json;\nconst resendId = ($('Send via Resend').first().json || {}).id || 'none';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst row = {\n  company_id: 'opsjuice',\n  outcome_type: 'assessment_completed',\n  outcome_value_usd: 0,\n  prospect_id: prev.prospect_id || null,\n  notes: 'assessment_id:' + (prev.assessment_id || '') + ' test_mode:' + prev.test_mode + ' to:' + prev.to_email + ' upsells:' + (prev.upsell_rows_inserted || 0) + ' total_value:$' + (prev.total_value || 0) + ' resend_id:' + resendId\n};\nconst body = JSON.stringify(row);\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'wwacjhkpuaiijbkqnhsi.supabase.co',\n    path: '/rest/v1/outcome_attribution',\n    method: 'POST',\n    headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY, 'Content-Type': 'application/json', 'Prefer': 'return=representation' }\n  }, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => { try { resolve({ status: res.statusCode, body: JSON.parse(data) }); } catch(e) { resolve({ status: res.statusCode, body: data }); } });\n  });\n  req.on('error', reject);\n  req.write(body);\n  req.end();\n});\nif (result.status >= 400) throw new Error('outcome_attribution insert failed: ' + JSON.stringify(result.body).slice(0,200));\nconst inserted = Array.isArray(result.body) ? result.body : [result.body];\nreturn [{ json: { ...prev, resend_id: resendId, attribution_id: (inserted[0] || {}).id || null } }];"},"id":"a1b2c3d4-0008-0008-0008-000000000008","name":"Write Outcome Attribution","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, assessment_id: $json.assessment_id, upsell_rows: $json.upsell_rows_inserted, to_email: $json.to_email, test_mode: $json.test_mode, attribution_id: $json.attribution_id }) }}","options":{}},"id":"a1b2c3d4-0009-0009-0009-000000000009","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2220,300]},{"id":"guard-if-node-0001-0001-0001","name":"Has Assessment ID?","type":"n8n-nodes-base.if","typeVersion":2,"position":[460,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-1","leftValue":"={{ $json.assessment_id || $json.assessmentId || \"\" }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}}},{"id":"respond-skip-node-0002-0002","name":"Respond Skip","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[680,500],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ok: true, skipped: true, reason: \"scorecard_lead_no_assessment_id\"}) }}","options":{}}}],"connections":{"Webhook":{"main":[[{"node":"Has Assessment ID?","type":"main","index":0}]]},"TEST_MODE Gate":{"main":[[{"node":"Fetch Assessment","type":"main","index":0}]]},"Fetch Assessment":{"main":[[{"node":"Fetch Prospect","type":"main","index":0}]]},"Fetch Prospect":{"main":[[{"node":"Build Upsell Email","type":"main","index":0}]]},"Build Upsell Email":{"main":[[{"node":"Insert Upsell Rows","type":"main","index":0}]]},"Insert Upsell Rows":{"main":[[{"node":"Send via Resend","type":"main","index":0}]]},"Send via Resend":{"main":[[{"node":"Write Outcome Attribution","type":"main","index":0}]]},"Write Outcome Attribution":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Has Assessment ID?":{"main":[[{"node":"TEST_MODE Gate","type":"main","index":0}],[{"node":"Respond Skip","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"76315bf9-7b81-45be-92fa-5df227307eff","activeVersionId":"76315bf9-7b81-45be-92fa-5df227307eff","versionCounter":2,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-07-14T19:01:11.864Z","createdAt":"2026-07-14T19:01:11.864Z","role":"workflow:owner","workflowId":"J3gQgu1QffAAaLrA","projectId":"aG0DYxb0hhrRA8cY","project":{"updatedAt":"2026-07-13T07:42:55.665Z","createdAt":"2026-07-13T07:36:36.999Z","id":"aG0DYxb0hhrRA8cY","name":"Adrien Harrison <info@opsjuice.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"}}],"tags":[],"activeVersion":{"updatedAt":"2026-07-17T01:19:24.031Z","createdAt":"2026-07-17T01:19:24.031Z","versionId":"76315bf9-7b81-45be-92fa-5df227307eff","workflowId":"J3gQgu1QffAAaLrA","nodes":[{"parameters":{"httpMethod":"POST","path":"oj-assessment-followup","responseMode":"responseNode","options":{}},"id":"a1b2c3d4-0001-0001-0001-000000000001","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"oj-assessment-followup-v1"},{"parameters":{"jsCode":"\n// TEST_MODE gate -- soft pass-through (FIX 5: no throw on missing assessment_id)\nconst testMode = true;\nconst body = $input.first().json.body || $input.first().json;\nconst assessmentId = body.assessment_id || null;\n// Do NOT throw -- let the downstream \"Has Assessment ID?\" IF node handle null\nreturn [{ json: { assessment_id: assessmentId, test_mode: testMode } }];\n"},"id":"a1b2c3d4-0002-0002-0002-000000000002","name":"TEST_MODE Gate","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"jsCode":"const https = require('https');\nconst { assessment_id, test_mode } = $input.first().json;\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst rows = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'wwacjhkpuaiijbkqnhsi.supabase.co',\n    path: '/rest/v1/assessments?id=eq.' + assessment_id + '&select=id,prospect_id,report_json,readiness_score,status&limit=1',\n    method: 'GET',\n    headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY, 'Content-Type': 'application/json' }\n  }, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => { try { resolve(JSON.parse(data)); } catch(e) { reject(new Error('Parse: ' + data.slice(0,200))); } });\n  });\n  req.on('error', reject);\n  req.end();\n});\nif (!Array.isArray(rows) || rows.length === 0) throw new Error('Assessment not found: ' + assessment_id);\nconst a = rows[0];\n// report_json stored as TEXT string in OJ Supabase, not JSONB -- must JSON.parse\nconst reportJson = typeof a.report_json === 'string' ? JSON.parse(a.report_json) : (a.report_json || {});\nif (!reportJson || !Array.isArray(reportJson.upsell_opportunities) || reportJson.upsell_opportunities.length === 0) {\n  throw new Error('No upsell_opportunities in report_json for assessment ' + assessment_id);\n}\nreturn [{ json: { ...a, report_json: reportJson, test_mode } }];"},"id":"a1b2c3d4-0003-0003-0003-000000000003","name":"Fetch Assessment","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"jsCode":"const https = require('https');\nconst assessment = $input.first().json;\nconst prospectId = assessment.prospect_id || null;\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nlet prospect = { id: null, business_name: 'Test Business', first_name: null, email: null, niche: null };\nif (prospectId) {\n  const rows = await new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'wwacjhkpuaiijbkqnhsi.supabase.co',\n      path: '/rest/v1/prospects?id=eq.' + prospectId + '&select=id,business_name,first_name,email,niche&limit=1',\n      method: 'GET',\n      headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY, 'Content-Type': 'application/json' }\n    }, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => { try { resolve(JSON.parse(data)); } catch(e) { reject(new Error('Parse')); } });\n    });\n    req.on('error', reject);\n    req.end();\n  });\n  if (Array.isArray(rows) && rows.length > 0) { prospect = rows[0]; }\n}\nreturn [{ json: { ...assessment, prospect } }];"},"id":"a1b2c3d4-0004-0004-0004-000000000004","name":"Fetch Prospect","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300]},{"parameters":{"jsCode":"// Build Upsell Email node jsCode (canonical v2, 2026-07-17, Adrien-direct row d0195650).\n// Keeps per-assessment personalization (greeting, business name, readiness score, opportunity\n// table) and adds the OJ brand kit, the three-retainer ladder in plain English, and the\n// CAN-SPAM footer (Echo Collective LLC, 8 East 96th Street, New York, NY 10128 + unsubscribe).\nconst data = $input.first().json;\nconst { id: assessmentId, readiness_score: _rawReadiness, report_json, prospect, test_mode } = data;\nlet readiness_score = _rawReadiness > 10 ? Math.round(_rawReadiness/10) : Number(_rawReadiness)||0;\nreadiness_score = Math.max(1, Math.min(10, Math.round(readiness_score)));\nconst opportunities = report_json.upsell_opportunities || [];\nconst businessName = prospect.business_name || 'Your Business';\nconst firstName = prospect.first_name || null;\nconst greeting = firstName ? ('Hi ' + firstName + ',') : 'Hi,';\nconst totalValue = opportunities.reduce((sum, o) => sum + (o.est_value || 0), 0);\n\nconst opportunityRows = opportunities.map((o, i) =>\n  '<tr><td style=\"padding:12px 8px;border-bottom:1px solid #F0E4D4;\"><strong>' + (i+1) + '. ' + o.type +\n  '</strong><br><span style=\"color:#6B5A4E;font-size:14px;\">' + o.description +\n  '</span></td><td style=\"padding:12px 8px;border-bottom:1px solid #F0E4D4;text-align:right;\"><strong style=\"color:#C0531E;\">$' +\n  (o.est_value||0).toLocaleString() + '</strong></td></tr>').join('');\n\nfunction tierCard(featured, name, price, desc, link, cta) {\n  const border = featured ? '2px solid #FF6B35' : '1px solid #EAD9C6';\n  const bg = featured ? '#FFF9F2' : '#FFFFFF';\n  const badge = featured ? '<p style=\"margin:0;font-size:12px;font-weight:700;letter-spacing:0.5px;color:#C0531E;\">MOST POPULAR</p>' : '';\n  return '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:' + border +\n    ';border-radius:12px;background:' + bg + ';margin:0 0 14px;\"><tr><td style=\"padding:18px 22px;\">' + badge +\n    '<p style=\"margin:' + (featured ? '6px' : '0') + ' 0 0;font-size:17px;font-weight:700;color:#2A1810;\">' + name + ', ' + price + '</p>' +\n    '<p style=\"margin:8px 0 14px;font-size:14px;line-height:1.6;color:#2A1810;\">' + desc + '</p>' +\n    '<a href=\"' + link + '\" style=\"display:inline-block;background:#FF6B35;color:#FFFFFF;padding:10px 20px;border-radius:8px;text-decoration:none;font-size:14px;font-weight:600;\">' + cta + '</a>' +\n    '</td></tr></table>';\n}\n\nconst tiers =\n  tierCard(false, 'Starter', '$1,500 per month',\n    'We build, run, and maintain the automations from your report: missed-call callbacks, review requests, appointment reminders, and lead follow-up. One new automation each month, weekly check-ins, and unlimited fixes when something breaks. Cancel any time.',\n    'https://buy.stripe.com/aFa4gs71r0DD1JG0nk2Ry0d', 'Start with Starter') +\n  tierCard(true, 'Growth', '$3,500 per month',\n    'Everything in Starter, plus a dedicated operations engineer working on your business every week. They ship new automations as your team asks for them and walk you through what changed on a weekly call. Best if you want at least one new workflow every month.',\n    'https://buy.stripe.com/28EdR21H79a91JG3zw2Ry0e', 'Start with Growth') +\n  tierCard(false, 'Scale', '$7,500 per month',\n    'Everything in Growth, plus enough hours for full customer-journey automation, back-office integrations across your existing tools, and custom reporting, with priority response and a monthly strategy session with the founder. Best if you are replacing an in-house operations hire.',\n    'https://buy.stripe.com/4gMfZa1H7cmlewsda62Ry0f', 'Start with Scale');\n\nconst html =\n  '<!DOCTYPE html><html lang=\"en\"><body style=\"margin:0;padding:0;background-color:#FFF6E9;color:#2A1810;\">' +\n  '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#FFF6E9;\"><tr><td align=\"center\" style=\"padding:32px 12px;\">' +\n  '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" style=\"width:600px;max-width:600px;background-color:#FFFFFF;border-radius:16px;overflow:hidden;box-shadow:0 1px 4px rgba(42,24,16,0.06);\">' +\n  '<tr><td style=\"padding:28px 36px 0 36px;\"><img src=\"https://assets.opsjuice.com/oj-logo-horizontal.png\" width=\"170\" alt=\"OpsJuice\" style=\"display:block;width:170px;max-width:170px;height:auto;border:0;\"></td></tr>' +\n  '<tr><td style=\"padding:22px 36px 0 36px;font-family:-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:16px;line-height:1.65;color:#2A1810;\">' +\n  '<p style=\"margin:0 0 14px;\">' + greeting + '</p>' +\n  '<p style=\"margin:0 0 14px;\">Your AI assessment report for ' + businessName + ' is ready, and every fix in it is yours to run with. Your AI readiness score is <strong>' + readiness_score + ' out of 10</strong>. Here are the opportunities we identified:</p>' +\n  '<table style=\"width:100%;border-collapse:collapse;margin:6px 0 18px;\"><thead><tr><th style=\"text-align:left;padding:10px 8px;background:#FFF6E9;border-bottom:2px solid #EAD9C6;font-size:14px;\">Opportunity</th><th style=\"text-align:right;padding:10px 8px;background:#FFF6E9;border-bottom:2px solid #EAD9C6;font-size:14px;\">Estimated value</th></tr></thead><tbody>' +\n  opportunityRows +\n  '</tbody><tfoot><tr><td style=\"padding:12px 8px;\"><strong>Total identified value</strong></td><td style=\"padding:12px 8px;text-align:right;\"><strong>$' + totalValue.toLocaleString() + '</strong></td></tr></tfoot></table>' +\n  '<p style=\"margin:0 0 16px;\">Most owners knock out the quick wins themselves, and then hand the bigger builds to us so nothing stalls. If you want us to build and run it all for you, there are three ways to work together, and your $250 assessment fee is credited toward whichever one you pick.</p>' +\n  '</td></tr>' +\n  '<tr><td style=\"padding:0 36px;\">' + tiers + '</td></tr>' +\n  '<tr><td style=\"padding:8px 36px 0 36px;font-family:-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:16px;line-height:1.65;color:#2A1810;\">' +\n  '<p style=\"margin:0 0 14px;\">Prefer to talk it through first? Your assessment includes a strategy call, so <a href=\"https://cal.com/adrien-harrison/ai-assessment\" style=\"color:#C0531E;\">book it here</a> and we will walk the report together and pick the right starting point.</p>' +\n  '<p style=\"margin:0 0 8px;\">Talk soon,<br>Adrien Harrison<br>Founder, OpsJuice</p>' +\n  '</td></tr>' +\n  '<tr><td style=\"padding:20px 36px 28px 36px;border-top:1px solid #F0E4D4;font-family:Arial,sans-serif;font-size:11px;line-height:1.6;color:#6B5A4E;\">' +\n  'OpsJuice is operated by Echo Collective LLC, 8 East 96th Street, New York, NY 10128.<br>' +\n  'You are receiving this because you purchased an OpsJuice AI Assessment. To unsubscribe, reply STOP or email <a href=\"mailto:info@opsjuice.com\" style=\"color:#6B5A4E;\">info@opsjuice.com</a>.' +\n  '</td></tr></table></td></tr></table></body></html>';\n\nconst toEmail = test_mode ? 'adrientharrison@gmail.com' : (prospect.email || null);\nif (!toEmail) throw new Error('No recipient email and not test_mode');\nreturn [{ json: { assessment_id: assessmentId, prospect_id: prospect.id || null, to_email: toEmail, test_mode, subject: (test_mode ? '[TEST] ' : '') + 'Your AI Assessment Results - ' + businessName, html, opportunities, total_value: totalValue, readiness_score } }];\n"},"id":"a1b2c3d4-0005-0005-0005-000000000005","name":"Build Upsell Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,300]},{"parameters":{"jsCode":"const https = require('https');\nconst { assessment_id, prospect_id, opportunities } = $input.first().json;\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst rows = opportunities.map(o => ({ prospect_id: prospect_id || null, opportunity_type: o.type, estimated_value: o.est_value || 0, status: 'identified' }));\nconst body = JSON.stringify(rows);\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'wwacjhkpuaiijbkqnhsi.supabase.co',\n    path: '/rest/v1/upsells',\n    method: 'POST',\n    headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY, 'Content-Type': 'application/json', 'Prefer': 'return=representation' }\n  }, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => { try { resolve({ status: res.statusCode, body: JSON.parse(data) }); } catch(e) { resolve({ status: res.statusCode, body: data }); } });\n  });\n  req.on('error', reject);\n  req.write(body);\n  req.end();\n});\nif (result.status >= 400) throw new Error('Upsell insert failed: ' + JSON.stringify(result.body).slice(0,200));\nconst inserted = Array.isArray(result.body) ? result.body : [];\nreturn [{ json: { ...$input.first().json, upsell_rows_inserted: inserted.length, upsell_ids: inserted.map(r => r.id) } }];"},"id":"a1b2c3d4-0006-0006-0006-000000000006","name":"Insert Upsell Rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,300]},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer re_xRcPgRZQ_K4amwq6HnzHsYMfsMWPW23nB"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ from: 'Adrien from OpsJuice <adrien@opsjuice.com>', to: [$json.to_email], subject: $json.subject, html: $json.html }) }}","options":{}},"id":"a1b2c3d4-0007-0007-0007-000000000007","name":"Send via Resend","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,300]},{"parameters":{"jsCode":"const https = require('https');\nconst prev = $('Insert Upsell Rows').first().json;\nconst resendId = ($('Send via Resend').first().json || {}).id || 'none';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst row = {\n  company_id: 'opsjuice',\n  outcome_type: 'assessment_completed',\n  outcome_value_usd: 0,\n  prospect_id: prev.prospect_id || null,\n  notes: 'assessment_id:' + (prev.assessment_id || '') + ' test_mode:' + prev.test_mode + ' to:' + prev.to_email + ' upsells:' + (prev.upsell_rows_inserted || 0) + ' total_value:$' + (prev.total_value || 0) + ' resend_id:' + resendId\n};\nconst body = JSON.stringify(row);\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'wwacjhkpuaiijbkqnhsi.supabase.co',\n    path: '/rest/v1/outcome_attribution',\n    method: 'POST',\n    headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY, 'Content-Type': 'application/json', 'Prefer': 'return=representation' }\n  }, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => { try { resolve({ status: res.statusCode, body: JSON.parse(data) }); } catch(e) { resolve({ status: res.statusCode, body: data }); } });\n  });\n  req.on('error', reject);\n  req.write(body);\n  req.end();\n});\nif (result.status >= 400) throw new Error('outcome_attribution insert failed: ' + JSON.stringify(result.body).slice(0,200));\nconst inserted = Array.isArray(result.body) ? result.body : [result.body];\nreturn [{ json: { ...prev, resend_id: resendId, attribution_id: (inserted[0] || {}).id || null } }];"},"id":"a1b2c3d4-0008-0008-0008-000000000008","name":"Write Outcome Attribution","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, assessment_id: $json.assessment_id, upsell_rows: $json.upsell_rows_inserted, to_email: $json.to_email, test_mode: $json.test_mode, attribution_id: $json.attribution_id }) }}","options":{}},"id":"a1b2c3d4-0009-0009-0009-000000000009","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2220,300]},{"id":"guard-if-node-0001-0001-0001","name":"Has Assessment ID?","type":"n8n-nodes-base.if","typeVersion":2,"position":[460,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-1","leftValue":"={{ $json.assessment_id || $json.assessmentId || \"\" }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}}},{"id":"respond-skip-node-0002-0002","name":"Respond Skip","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[680,500],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ok: true, skipped: true, reason: \"scorecard_lead_no_assessment_id\"}) }}","options":{}}}],"connections":{"Webhook":{"main":[[{"node":"Has Assessment ID?","type":"main","index":0}]]},"TEST_MODE Gate":{"main":[[{"node":"Fetch Assessment","type":"main","index":0}]]},"Fetch Assessment":{"main":[[{"node":"Fetch Prospect","type":"main","index":0}]]},"Fetch Prospect":{"main":[[{"node":"Build Upsell Email","type":"main","index":0}]]},"Build Upsell Email":{"main":[[{"node":"Insert Upsell Rows","type":"main","index":0}]]},"Insert Upsell Rows":{"main":[[{"node":"Send via Resend","type":"main","index":0}]]},"Send via Resend":{"main":[[{"node":"Write Outcome Attribution","type":"main","index":0}]]},"Write Outcome Attribution":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Has Assessment ID?":{"main":[[{"node":"TEST_MODE Gate","type":"main","index":0}],[{"node":"Respond Skip","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Adrien Harrison","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-07-17T01:19:24.511Z","id":16796,"workflowId":"J3gQgu1QffAAaLrA","versionId":"76315bf9-7b81-45be-92fa-5df227307eff","event":"deactivated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-17T01:19:24.601Z","id":16797,"workflowId":"J3gQgu1QffAAaLrA","versionId":"76315bf9-7b81-45be-92fa-5df227307eff","event":"activated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"}]}}