data/n8n-fetched/J3IloUaJgbH6wodE.json
{"updatedAt":"2026-07-14T19:01:17.934Z","createdAt":"2026-07-14T19:01:17.934Z","id":"J3IloUaJgbH6wodE","name":"OpsJuice Reply Poller (5min)","description":null,"active":true,"isArchived":false,"nodes":[{"id":"sched","name":"Every 5 minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}}},{"id":"fetch","name":"Fetch Recent Inbound Emails","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0],"parameters":{"method":"GET","url":"https://wwacjhkpuaiijbkqnhsi.supabase.co/rest/v1/events","authentication":"none","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"event_type","value":"eq.inbound_email"},{"name":"actor","value":"eq.system"},{"name":"select","value":"id,payload,created_at"},{"name":"order","value":"created_at.desc"},{"name":"limit","value":"50"},{"name":"payload->>state","value":"eq.pending"}]},"options":{},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0"}]}}},{"id":"match","name":"Match vs OpsJuice Prospects","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0],"parameters":{"jsCode":"\nconst OJ_URL = 'https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\n\nconst emails = $input.all().map(i => {\n  const row = i.json;\n  const p = row.payload || {};\n  return {\n    event_id: row.id,\n    prospect_id: p.prospect_id || null,\n    from_email: p.from_address,\n    from_address: p.from_address,\n    to_address: p.to_address,\n    subject: p.subject,\n    body_text: p.raw_text,\n    message_id: p.message_id,\n    received_at: p.received_at,\n    prospect_name: p.prospect_name || null\n  };\n});\n\nif (!emails || emails.length === 0) return [];\n\nconst needsLookup = emails.some(e => !e.prospect_id);\nlet prospectMap = {};\n\nif (needsLookup) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'GET',\n      url: OJ_URL + '/rest/v1/prospects?select=id,email,business_name,first_name&email=not.is.null&outreach_state=in.(sent,day0_sent,replied)&limit=500',\n      headers: {\n        'apikey': OJ_KEY,\n        'Authorization': 'Bearer ' + OJ_KEY\n      }\n    });\n    const prospects = Array.isArray(resp) ? resp : (resp.data || []);\n    for (const p of prospects) {\n      if (p.email) prospectMap[p.email.toLowerCase().trim()] = p;\n    }\n  } catch(e) {\n    console.error('prospect_fetch_failed:', e.message);\n  }\n}\n\nconst results = emails.map(email => {\n  if (email.prospect_id) return {json: email};\n  const fromAddr = (email.from_email || email.from_address || '').toLowerCase().trim();\n  const prospect = prospectMap[fromAddr];\n  if (prospect) {\n    return {json: {...email, prospect_id: prospect.id, prospect_name: prospect.first_name || prospect.business_name || fromAddr, business_name: prospect.business_name}};\n  }\n  return {json: email};\n});\n\nreturn results;\n"}},{"id":"classify","name":"Classify Intent","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,0],"parameters":{"jsCode":"const results = [];\nfor (const _inputItem of $input.all()) {\nconst item = _inputItem.json;\nconst bodyRaw = item.body_text || '';\nconst subjRaw = item.subject || '';\nconst fromEmailRaw = (item.from_email || '').toLowerCase();\nconst body = bodyRaw.toLowerCase();\nconst subj = subjRaw.toLowerCase();\nconst combined = subj + ' ' + body;\n\nconst bounceSignals = ['mailer-daemon', 'postmaster@', 'noreply', 'no-reply', 'undeliverable', 'delivery status notification', 'address not found', 'user unknown', 'mailbox full'];\nlet isBounce = false;\nfor (const s of bounceSignals) {\n  if (fromEmailRaw.includes(s) || subj.includes(s) || body.includes(s)) { isBounce = true; break; }\n}\n\nconst unsubSignals = ['unsubscribe', 'remove me', 'take me off', 'stop emailing', 'do not contact', 'leave me alone', 'opt out', 'opt-out', 'no more emails'];\nlet isUnsub = false;\nfor (const s of unsubSignals) { if (combined.includes(s)) { isUnsub = true; break; } }\n\n// Report-complaint detection: customer paid, received report, is unhappy with quality.\n// Distinct from generic negative because this is actionable (auto-regenerate) not routing to churn.\nconst reportComplaintSignals = [\n  'report is wrong', 'report is confusing', 'report is not', 'not what i paid for',\n  'not what I asked for', 'missed my point', 'missed the point', 'doesn\\'t address',\n  'does not address', 'doesnt address', 'regenerate', 'redo the report',\n  'redo my report', 'report is off', 'report was off', 'report seems',\n  'not accurate', 'inaccurate report', 'wrong about my business',\n  'refund my', 'refund the report', 'wasted my money', 'this is useless',\n];\nlet isReportComplaint = false;\nfor (const s of reportComplaintSignals) { if (combined.includes(s)) { isReportComplaint = true; break; } }\n\nconst pos = ['interested','tell me more','sounds good','want to learn','let s talk','schedule','book','yes','definitely','love to','great','when can','how much','price','cost','demo','free website'];\nconst neg = ['no thanks','not interested','not right now','spam','not now','not a fit','wrong person','pass','no thank you'];\n\nlet pc = 0, nc = 0;\nfor (const s of pos) { if (combined.includes(s)) pc++; }\nfor (const s of neg) { if (combined.includes(s)) nc++; }\n\nlet intent;\nif (isBounce) intent = 'bounce';\nelse if (isUnsub) intent = 'unsubscribe';\nelse if (isReportComplaint) intent = 'report_complaint';\nelse if (nc > 0) intent = 'negative';\nelse if (pc >= 1) intent = 'positive';\nelse intent = 'neutral';\n\nresults.push({json: {...item, intent, pos_signals: pc, neg_signals: nc, is_bounce: isBounce, is_unsub: isUnsub, is_report_complaint: isReportComplaint}});\n}\nreturn results;"}},{"id":"write_class","name":"Write Classification to Replies","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,0],"parameters":{"jsCode":"\nconst OJ_URL = 'https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  if (!data.event_id) {\n    results.push({json: {event_id: null, write_status: 'skipped_no_event_id'}});\n    continue;\n  }\n\n  const payload = {\n    state: 'classified',\n    intent: data.intent,\n    prospect_id: data.prospect_id || null,\n    from_address: data.from_address,\n    to_address: data.to_address,\n    subject: data.subject,\n    raw_text: data.body_text,\n    message_id: data.message_id,\n    received_at: data.received_at,\n    prospect_name: data.prospect_name || null,\n    pos_signals: data.pos_signals,\n    neg_signals: data.neg_signals\n  };\n\n  try {\n    await helpers.httpRequest({\n      method: 'PATCH',\n      url: OJ_URL + '/rest/v1/events?id=eq.' + data.event_id,\n      headers: {\n        'apikey': OJ_KEY,\n        'Authorization': 'Bearer ' + OJ_KEY,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: {payload: payload}\n    });\n    results.push({json: {event_id: data.event_id, write_status: 'ok', intent: data.intent, prospect_id: data.prospect_id || null, from_email: data.from_address || data.from_email || null, from_name: data.prospect_name || null, subject: data.subject || null, body_text: data.body_text || null, pos_signals: data.pos_signals || 0, neg_signals: data.neg_signals || 0}});\n  } catch(e) {\n    results.push({json: {event_id: data.event_id, write_status: 'error', error_msg: String(e && e.message ? e.message : e)}});\n  }\n}\n\nreturn results;\n"}},{"id":"filter","name":"Filter Positive","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1200,0],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"positive","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"slack","name":"Slack Alert brain-capture","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,-80],"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"channel\": \"C0AJY9J6RSN\", \"text\": \"*POSITIVE REPLY - OpsJuice*\\n*From:* {{ $json.from_name || $json.from_email }} ({{ $json.from_email }})\\n*Subject:* {{ $json.subject }}\\n*Signals:* {{ $json.pos_signals }} positive\\n\\n*Book:* https://cal.com/adrien-harrison/ai-assessment\"}","options":{}},"credentials":{"httpHeaderAuth":{"id":"h7j4MOy9YnN89mim","name":"Slack Bot Header Auth"}}},{"id":"update","name":"Update Prospect State","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,80],"parameters":{"method":"PATCH","url":"=https://wwacjhkpuaiijbkqnhsi.supabase.co/rest/v1/prospects?id=eq.{{ $json.prospect_id }}","authentication":"none","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"outreach_state\":\"replied\",\"last_touch_at\":\"{{ new Date().toISOString() }}\"}","options":{},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0"}]}},"onError":"continueRegularOutput"},{"id":"attr_reply","name":"Write reply_positive attribution","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,80],"parameters":{"jsCode":"const OJ_URL = 'https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  if (!data.prospect_id) {\n    results.push({json: {attr_status: 'skipped_no_prospect_id', event_id: data.event_id}});\n    continue;\n  }\n  try {\n    await helpers.httpRequest({\n      method: 'POST',\n      url: OJ_URL + '/rest/v1/outcome_attribution',\n      headers: {\n        'apikey': OJ_KEY,\n        'Authorization': 'Bearer ' + OJ_KEY,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: {\n        company_id: 'opsjuice',\n        outcome_type: 'reply_positive',\n        prospect_id: data.prospect_id,\n        notes: 'event_id:' + data.event_id\n      }\n    });\n    results.push({json: {attr_status: 'ok', event_id: data.event_id, prospect_id: data.prospect_id}});\n  } catch(e) {\n    results.push({json: {attr_status: 'error', event_id: data.event_id, error_msg: String(e && e.message ? e.message : e)}});\n  }\n}\n\nreturn results;"}},{"id":"send_booking","name":"Send Booking Link Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,160],"parameters":{"language":"javaScript","jsCode":"const OJ_URL = 'https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst RESEND_KEY = 're_xRcPgRZQ_K4amwq6HnzHsYMfsMWPW23nB';\nconst ASSESSMENT_URL = 'https://opsjuice.com/ai-assessment';\nconst TEST_EMAIL = 'adrientharrison@gmail.com';\nconst FROM_ADDRESS = 'info@opsjuice.com';\n\nconst item = $input.item.json;\nconst prospectId = item.prospect_id;\nconst fromEmail = item.from_email;\n\n// Fetch prospect details\nlet firstName = null, businessName = null, prospectEmail = null;\nif (prospectId) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'GET',\n      url: OJ_URL + '/rest/v1/prospects?id=eq.' + prospectId + '&select=first_name,business_name,email&limit=1',\n      headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY }\n    });\n    const rows = Array.isArray(resp) ? resp : (resp.data || []);\n    if (rows.length > 0) {\n      firstName = rows[0].first_name || null;\n      businessName = rows[0].business_name || null;\n      prospectEmail = rows[0].email || null;\n    }\n  } catch(e) { console.error('prospect_fetch_err:', e.message); }\n}\n\n// Route to TEST_EMAIL if no prospect email or if inbound is from test\nconst isTest = !prospectEmail || fromEmail === TEST_EMAIL;\nconst toEmail = isTest ? TEST_EMAIL : prospectEmail;\n\n// Build email body -- drive to the paid $250 AI assessment. NO call/booking pre-payment.\nconst greeting = firstName ? 'Hi ' + firstName + ',' : 'Hi there,';\nconst bizRef = businessName ? ' at ' + businessName : '';\nconst bodyLines = [\n  greeting,\n  '',\n  'Good question. The AI assessment is a focused, done-for-you deep-dive into your operation' + bizRef + '. You answer a short set of questions about how the work actually flows today: where calls get missed, where hours go into manual follow-up, quoting, scheduling, the parts that keep you at the desk instead of running the business.',\n  '',\n  'From that, you get a written report that shows exactly where AI saves you the most time, what each fix is worth in hours and dollars, and the specific order to roll them out. It is built for your business, not a generic checklist. Most owners find several thousand dollars a month of recoverable time in it.',\n  '',\n  'It is $250, and you can start it here:',\n  '',\n  ASSESSMENT_URL,\n  '',\n  'Once you are in, it takes about 20 minutes and the report comes straight back to you. If anything is unclear before you start, just reply and I will answer.',\n  '',\n  'Adrien',\n  'OpsJuice'\n];\nconst emailBody = bodyLines.join('\\n') + '\\n\\n---\\nOpsJuice, a service of Echo Collective LLC | 8 East 96th Street, New York, NY 10128 | Reply STOP to unsubscribe';\n\n// Send via Resend\nlet sendResult = 'not_sent';\ntry {\n  await helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.resend.com/emails',\n    headers: {\n      'Authorization': 'Bearer ' + RESEND_KEY,\n      'Content-Type': 'application/json'\n    },\n    body: {\n      from: FROM_ADDRESS,\n      to: [toEmail],\n      subject: 'Re: ' + (item.subject || 'your business'),\n      text: emailBody\n    }\n  });\n  sendResult = 'sent';\n  console.log('assessment_email_sent to ' + toEmail + ' isTest=' + isTest);\n} catch(e) {\n  sendResult = 'error:' + String(e && e.message ? e.message : e);\n  console.error('assessment_email_err:', sendResult);\n}\n\nreturn [{json: {\n  event_id: item.event_id,\n  prospect_id: prospectId,\n  to_email: toEmail,\n  is_test: isTest,\n  cal_url: ASSESSMENT_URL,\n  send_result: sendResult\n}}];\n"}},{"id":"write_booking_row","name":"Write Booking Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[1620,160],"parameters":{"language":"javaScript","jsCode":"const OJ_URL = 'https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\n\nconst item = $input.item.json;\nconst prospectId = item.prospect_id || null;\nconst sendResult = item.send_result || 'unknown';\n\nconst didSend = sendResult === 'sent';\n\nlet rowId = null;\nif (didSend) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'POST',\n      url: OJ_URL + '/rest/v1/outcome_attribution',\n      headers: {\n        'apikey': OJ_KEY,\n        'Authorization': 'Bearer ' + OJ_KEY,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=representation'\n      },\n      body: {\n        company_id: 'opsjuice',\n        outcome_type: 'booking_email_sent',\n        prospect_id: prospectId,\n        notes: JSON.stringify({\n          cal_url: item.cal_url,\n          to_email: item.to_email,\n          is_test: item.is_test,\n          event_id: item.event_id\n        })\n      }\n    });\n    const rows = Array.isArray(resp) ? resp : (resp.data || []);\n    rowId = rows.length > 0 ? rows[0].id : null;\n    console.log('booking_row_written id=' + rowId);\n  } catch(e) {\n    console.error('booking_row_err:', e.message);\n  }\n}\n\nreturn [{json: {\n  ...item,\n  booking_row_id: rowId,\n  booking_row_written: didSend && rowId !== null\n}}];"}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"filter-unsub-cond","leftValue":"={{ $json.intent }}","rightValue":"unsubscribe","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"filter-unsub","name":"Filter Unsubscribe","type":"n8n-nodes-base.filter","typeVersion":2,"position":[500,800]},{"parameters":{"jsCode":"const https = require('https');\nconst OJ_HOST = 'wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst item = $input.item.json;\nconst prospectId = item.prospect_id;\nif (!prospectId) return [{json: {...item, unsub_status: 'skipped_no_prospect_id'}}];\n\nconst body = JSON.stringify({outreach_state: 'unsubscribed', notes: 'Auto-suppressed via reply-poller intent=unsubscribe on ' + new Date().toISOString()});\nconst result = await new Promise((resolve) => {\n  const req = https.request({\n    hostname: OJ_HOST, path: '/rest/v1/prospects?id=eq.' + encodeURIComponent(prospectId),\n    method: 'PATCH',\n    headers: {'apikey': OJ_KEY, 'authorization': 'Bearer ' + OJ_KEY, 'content-type': 'application/json', 'prefer': 'return=minimal', 'content-length': Buffer.byteLength(body)},\n  }, (res) => { let d=''; res.on('data', c=>d+=c); res.on('end', ()=>resolve({status: res.statusCode, body: d})); });\n  req.on('error', (e) => resolve({status: 0, error: String(e)}));\n  req.write(body); req.end();\n});\nreturn [{json: {...item, unsub_status: result.status, unsub_ok: result.status >= 200 && result.status < 300}}];"},"id":"patch-unsub","name":"Patch Prospect Unsubscribed","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,800]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"filter-bounce-cond","leftValue":"={{ $json.intent }}","rightValue":"bounce","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"filter-bounce","name":"Filter Bounce","type":"n8n-nodes-base.filter","typeVersion":2,"position":[500,950]},{"parameters":{"jsCode":"const https = require('https');\nconst OJ_HOST = 'wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst item = $input.item.json;\nconst prospectId = item.prospect_id;\nif (!prospectId) return [{json: {...item, bounce_status: 'skipped_no_prospect_id'}}];\n\nconst body = JSON.stringify({outreach_state: 'bounced', notes: 'Auto-flagged bounce via reply-poller intent=bounce on ' + new Date().toISOString()});\nconst result = await new Promise((resolve) => {\n  const req = https.request({\n    hostname: OJ_HOST, path: '/rest/v1/prospects?id=eq.' + encodeURIComponent(prospectId),\n    method: 'PATCH',\n    headers: {'apikey': OJ_KEY, 'authorization': 'Bearer ' + OJ_KEY, 'content-type': 'application/json', 'prefer': 'return=minimal', 'content-length': Buffer.byteLength(body)},\n  }, (res) => { let d=''; res.on('data', c=>d+=c); res.on('end', ()=>resolve({status: res.statusCode, body: d})); });\n  req.on('error', (e) => resolve({status: 0, error: String(e)}));\n  req.write(body); req.end();\n});\nreturn [{json: {...item, bounce_status: result.status, bounce_ok: result.status >= 200 && result.status < 300}}];"},"id":"patch-bounce","name":"Patch Prospect Bounced","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,950]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"filter-neutral-cond","leftValue":"={{ $json.intent }}","rightValue":"neutral","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"filter-neutral","name":"Filter Neutral","type":"n8n-nodes-base.filter","typeVersion":2,"position":[500,1100]},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"channel\": \"C0AJY9J6RSN\",\n  \"text\": \"*NEUTRAL REPLY - OpsJuice*\\n*From:* {{ $json.from_name || $json.from_email }} ({{ $json.from_email }})\\n*Subject:* {{ $json.subject }}\\n*Body:* {{ ($json.body_text || '').slice(0,240) }}\\n\\n*Adrien decides:* reply-personally / suppress / booking-invite\"\n}","options":{}},"id":"slack-neutral","name":"Slack Alert Neutral to brain-capture","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,1100],"credentials":{"httpHeaderAuth":{"id":"h7j4MOy9YnN89mim","name":"Slack Bot Header Auth"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"filter-report-complaint-cond","leftValue":"={{ $json.intent }}","rightValue":"report_complaint","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"filter-report-complaint","name":"Filter Report Complaint","type":"n8n-nodes-base.filter","typeVersion":2,"position":[500,1250]},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"channel\": \"C0AJY9J6RSN\",\n  \"text\": \"*REPORT COMPLAINT - OpsJuice*\\n*From:* {{ $json.from_name || $json.from_email }} ({{ $json.from_email }})\\n*Subject:* {{ $json.subject }}\\n*Body:* {{ ($json.body_text || '').slice(0,320) }}\\n\\n*Adrien decides:* auto-regenerate / manual-review / refund. Auto-regenerate workflow OJ-Report-Regenerate wire pending Sonnet a6f0cd2a Groq critique-prompt research.\"\n}","options":{}},"id":"slack-report-complaint","name":"Slack Alert Report Complaint to brain-capture","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,1250],"credentials":{"httpHeaderAuth":{"id":"h7j4MOy9YnN89mim","name":"Slack Bot Header Auth"}}},{"parameters":{"language":"javaScript","jsCode":"const OJ_URL = 'https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst RESEND_KEY = 're_xRcPgRZQ_K4amwq6HnzHsYMfsMWPW23nB';\nconst ASSESSMENT_URL = 'https://opsjuice.com/ai-assessment';\nconst TEST_EMAIL = 'adrientharrison@gmail.com';\nconst FROM_ADDRESS = 'info@opsjuice.com';\n\nconst item = $input.item.json;\nconst prospectId = item.prospect_id;\nconst fromEmail = item.from_email;\n\n// Fetch prospect details\nlet firstName = null, businessName = null, prospectEmail = null;\nif (prospectId) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'GET',\n      url: OJ_URL + '/rest/v1/prospects?id=eq.' + prospectId + '&select=first_name,business_name,email,neutral_auto_replied_at&limit=1',\n      headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY }\n    });\n    const rows = Array.isArray(resp) ? resp : (resp.data || []);\n    if (rows.length > 0) {\n      firstName = rows[0].first_name || null;\n      businessName = rows[0].business_name || null;\n      prospectEmail = rows[0].email || null;\n      // one auto-reply per prospect max; humans take over threads after that\n      if (rows[0].neutral_auto_replied_at) {\n        return [{json: {prospect_id: prospectId, skipped: 'already_auto_replied'}}];\n      }\n    }\n  } catch(e) { console.error('prospect_fetch_err:', e.message); }\n}\n\nconst isTest = !prospectEmail || fromEmail === TEST_EMAIL;\nconst toEmail = isTest ? TEST_EMAIL : prospectEmail;\n\nconst greeting = firstName ? 'Hi ' + firstName + ',' : 'Hi there,';\nconst bizRef = businessName ? ' at ' + businessName : '';\nconst bodyLines = [\n  greeting,\n  '',\n  'Thanks for getting back to me. Happy to keep it short.',\n  '',\n  'What I offer is a $250 AI assessment for your operation' + bizRef + ': you answer a focused set of questions about how the work flows today (missed calls, follow-up, quoting, scheduling), and within 24 hours you get a written report showing exactly where AI saves you the most hours and dollars, in what order, with the math shown. If it does not identify at least $2,000 in recoverable revenue, you get a refund.',\n  '',\n  'You can start here whenever it suits you:',\n  '',\n  ASSESSMENT_URL,\n  '',\n  'And if you have a specific question first, just reply and you will get a straight answer.',\n  '',\n  'Adrien',\n  'OpsJuice'\n];\nconst emailBody = bodyLines.join('\\n') + '\\n\\n---\\nOpsJuice, a service of Echo Collective LLC | 8 East 96th Street, New York, NY 10128 | Reply STOP to unsubscribe';\n\nlet sendResult = 'not_sent';\ntry {\n  await helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.resend.com/emails',\n    headers: { 'Authorization': 'Bearer ' + RESEND_KEY, 'Content-Type': 'application/json' },\n    body: { from: FROM_ADDRESS, to: [toEmail], subject: 'Re: ' + (item.subject || 'your business'), text: emailBody }\n  });\n  sendResult = 'sent';\n  console.log('neutral_auto_reply_sent to ' + toEmail + ' isTest=' + isTest);\n  if (prospectId) {\n    try {\n      await helpers.httpRequest({\n        method: 'PATCH',\n        url: OJ_URL + '/rest/v1/prospects?id=eq.' + prospectId,\n        headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n        body: { neutral_auto_replied_at: new Date().toISOString() }\n      });\n    } catch(e) { console.error('mark_auto_replied_err:', e.message); }\n  }\n} catch(e) {\n  sendResult = 'error:' + String(e && e.message ? e.message : e);\n  console.error('neutral_auto_reply_err:', sendResult);\n}\n\nreturn [{json: { prospect_id: prospectId, to_email: toEmail, is_test: isTest, send_result: sendResult }}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,660],"id":"send-neutral-auto-reply-001","name":"Send Neutral Auto-Reply"},{"parameters":{"language":"javaScript","jsCode":"const OJ_URL = 'https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst RESEND_KEY = 're_xRcPgRZQ_K4amwq6HnzHsYMfsMWPW23nB';\nconst TEST_EMAIL = 'adrientharrison@gmail.com';\nconst FROM_ADDRESS = 'info@opsjuice.com';\n\nconst item = $input.item.json;\nconst prospectId = item.prospect_id;\nconst fromEmail = (item.from_email || '').toLowerCase();\n\n// Fetch prospect for name + canonical email\nlet firstName = null, prospectEmail = null;\nif (prospectId) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'GET',\n      url: OJ_URL + '/rest/v1/prospects?id=eq.' + prospectId + '&select=first_name,email&limit=1',\n      headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY }\n    });\n    const rows = Array.isArray(resp) ? resp : (resp.data || []);\n    if (rows.length > 0) { firstName = rows[0].first_name || null; prospectEmail = rows[0].email || null; }\n  } catch(e) { console.error('prospect_fetch_err:', e.message); }\n}\nconst isTest = !prospectEmail || fromEmail === TEST_EMAIL;\nconst toEmail = isTest ? TEST_EMAIL : prospectEmail;\n\n// 1) Durable regen queue row (consumer workflow drains it)\nlet queueResult = 'not_queued';\ntry {\n  await helpers.httpRequest({\n    method: 'POST',\n    url: OJ_URL + '/rest/v1/oj_report_regen_queue',\n    headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n    body: { prospect_id: prospectId || null, from_email: fromEmail || 'unknown', reply_excerpt: String(item.body_text || '').slice(0, 500) }\n  });\n  queueResult = 'queued';\n} catch(e) { queueResult = 'queue_error:' + String(e && e.message ? e.message : e); console.error('regen_queue_err:', queueResult); }\n\n// 2) Immediate acknowledgment to the customer\nconst greeting = firstName ? 'Hi ' + firstName + ',' : 'Hi there,';\nconst bodyLines = [\n  greeting,\n  '',\n  'You are right to flag it, and thanks for telling me directly.',\n  '',\n  'I am rebuilding your report now with your feedback taken into account. You will have the updated version within 24 hours. If the new version still misses the mark, I will refund you in full, no questions.',\n  '',\n  'If there is anything specific you want the rebuilt report to focus on, reply with a line or two and it goes straight into the rebuild.',\n  '',\n  'Adrien',\n  'OpsJuice'\n];\nconst emailBody = bodyLines.join('\\n') + '\\n\\n---\\nOpsJuice, a service of Echo Collective LLC | 8 East 96th Street, New York, NY 10128 | Reply STOP to unsubscribe';\n\nlet sendResult = 'not_sent';\ntry {\n  await helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.resend.com/emails',\n    headers: { 'Authorization': 'Bearer ' + RESEND_KEY, 'Content-Type': 'application/json' },\n    body: { from: FROM_ADDRESS, to: [toEmail], subject: 'Re: ' + (item.subject || 'your report'), text: emailBody }\n  });\n  sendResult = 'sent';\n  console.log('complaint_ack_sent to ' + toEmail + ' isTest=' + isTest + ' queue=' + queueResult);\n} catch(e) { sendResult = 'error:' + String(e && e.message ? e.message : e); console.error('complaint_ack_err:', sendResult); }\n\nreturn [{json: { prospect_id: prospectId, to_email: toEmail, is_test: isTest, queue_result: queueResult, send_result: sendResult }}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,820],"id":"complaint-ack-queue-regen-001","name":"Complaint Ack + Queue Regen"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"filter-negative-cond","leftValue":"={{ $json.intent }}","rightValue":"negative","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"type":"n8n-nodes-base.filter","typeVersion":2,"position":[1200,980],"id":"filter-negative-001","name":"Filter Negative"},{"parameters":{"language":"javaScript","jsCode":"const OJ_URL = 'https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\n\nconst item = $input.item.json;\nconst prospectId = item.prospect_id;\nif (!prospectId) { return [{json: {skipped: 'no_prospect_id'}}]; }\n\ntry {\n  await helpers.httpRequest({\n    method: 'PATCH',\n    url: OJ_URL + '/rest/v1/prospects?id=eq.' + prospectId,\n    headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n    body: { outreach_state: 'closed', last_touch_at: new Date().toISOString() },\n  });\n  console.log('negative_prospect_closed prospect=' + prospectId);\n  return [{json: {prospect_id: prospectId, action: 'closed', reason: 'negative_reply'}}];\n} catch(e) {\n  return [{json: {prospect_id: prospectId, action: 'error', err: String(e && e.message ? e.message : e)}}];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,980],"id":"patch-prospect-negative-001","name":"Patch Prospect Negative"}],"connections":{"Every 5 minutes":{"main":[[{"node":"Fetch Recent Inbound Emails","type":"main","index":0}]]},"Fetch Recent Inbound Emails":{"main":[[{"node":"Match vs OpsJuice Prospects","type":"main","index":0}]]},"Match vs OpsJuice Prospects":{"main":[[{"node":"Classify Intent","type":"main","index":0}]]},"Classify Intent":{"main":[[{"node":"Write Classification to Replies","type":"main","index":0}]]},"Write Classification to Replies":{"main":[[{"node":"Filter Positive","type":"main","index":0},{"node":"Filter Unsubscribe","type":"main","index":0},{"node":"Filter Bounce","type":"main","index":0},{"node":"Filter Neutral","type":"main","index":0},{"node":"Filter Report Complaint","type":"main","index":0},{"node":"Filter Negative","type":"main","index":0}]]},"Filter Positive":{"main":[[{"node":"Slack Alert brain-capture","type":"main","index":0},{"node":"Update Prospect State","type":"main","index":0},{"node":"Write reply_positive attribution","type":"main","index":0},{"node":"Send Booking Link Email","type":"main","index":0}]]},"Send Booking Link Email":{"main":[[{"node":"Write Booking Row","type":"main","index":0}]]},"Filter Unsubscribe":{"main":[[{"node":"Patch Prospect Unsubscribed","type":"main","index":0}]]},"Filter Bounce":{"main":[[{"node":"Patch Prospect Bounced","type":"main","index":0}]]},"Filter Neutral":{"main":[[{"node":"Slack Alert Neutral to brain-capture","type":"main","index":0},{"node":"Send Neutral Auto-Reply","type":"main","index":0}]]},"Filter Report Complaint":{"main":[[{"node":"Slack Alert Report Complaint to brain-capture","type":"main","index":0},{"node":"Complaint Ack + Queue Regen","type":"main","index":0}]]},"Filter Negative":{"main":[[{"node":"Patch Prospect Negative","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every 5 minutes":{"recurrenceRules":[null],"recurrenceRuleSignatures":[null]}},"meta":null,"nodeGroups":[],"pinData":null,"versionId":"d0637a70-7f4e-4786-b966-2e078eefe991","activeVersionId":"d0637a70-7f4e-4786-b966-2e078eefe991","versionCounter":1,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-07-14T19:01:17.934Z","createdAt":"2026-07-14T19:01:17.934Z","role":"workflow:owner","workflowId":"J3IloUaJgbH6wodE","projectId":"aG0DYxb0hhrRA8cY","project":{"updatedAt":"2026-07-13T07:42:55.665Z","createdAt":"2026-07-13T07:36:36.999Z","id":"aG0DYxb0hhrRA8cY","name":"Adrien Harrison <info@opsjuice.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"}}],"tags":[],"activeVersion":{"updatedAt":"2026-07-14T19:01:17.934Z","createdAt":"2026-07-14T19:01:17.934Z","versionId":"d0637a70-7f4e-4786-b966-2e078eefe991","workflowId":"J3IloUaJgbH6wodE","nodes":[{"id":"sched","name":"Every 5 minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}}},{"id":"fetch","name":"Fetch Recent Inbound Emails","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0],"parameters":{"method":"GET","url":"https://wwacjhkpuaiijbkqnhsi.supabase.co/rest/v1/events","authentication":"none","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"event_type","value":"eq.inbound_email"},{"name":"actor","value":"eq.system"},{"name":"select","value":"id,payload,created_at"},{"name":"order","value":"created_at.desc"},{"name":"limit","value":"50"},{"name":"payload->>state","value":"eq.pending"}]},"options":{},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0"}]}}},{"id":"match","name":"Match vs OpsJuice Prospects","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0],"parameters":{"jsCode":"\nconst OJ_URL = 'https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\n\nconst emails = $input.all().map(i => {\n  const row = i.json;\n  const p = row.payload || {};\n  return {\n    event_id: row.id,\n    prospect_id: p.prospect_id || null,\n    from_email: p.from_address,\n    from_address: p.from_address,\n    to_address: p.to_address,\n    subject: p.subject,\n    body_text: p.raw_text,\n    message_id: p.message_id,\n    received_at: p.received_at,\n    prospect_name: p.prospect_name || null\n  };\n});\n\nif (!emails || emails.length === 0) return [];\n\nconst needsLookup = emails.some(e => !e.prospect_id);\nlet prospectMap = {};\n\nif (needsLookup) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'GET',\n      url: OJ_URL + '/rest/v1/prospects?select=id,email,business_name,first_name&email=not.is.null&outreach_state=in.(sent,day0_sent,replied)&limit=500',\n      headers: {\n        'apikey': OJ_KEY,\n        'Authorization': 'Bearer ' + OJ_KEY\n      }\n    });\n    const prospects = Array.isArray(resp) ? resp : (resp.data || []);\n    for (const p of prospects) {\n      if (p.email) prospectMap[p.email.toLowerCase().trim()] = p;\n    }\n  } catch(e) {\n    console.error('prospect_fetch_failed:', e.message);\n  }\n}\n\nconst results = emails.map(email => {\n  if (email.prospect_id) return {json: email};\n  const fromAddr = (email.from_email || email.from_address || '').toLowerCase().trim();\n  const prospect = prospectMap[fromAddr];\n  if (prospect) {\n    return {json: {...email, prospect_id: prospect.id, prospect_name: prospect.first_name || prospect.business_name || fromAddr, business_name: prospect.business_name}};\n  }\n  return {json: email};\n});\n\nreturn results;\n"}},{"id":"classify","name":"Classify Intent","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,0],"parameters":{"jsCode":"const results = [];\nfor (const _inputItem of $input.all()) {\nconst item = _inputItem.json;\nconst bodyRaw = item.body_text || '';\nconst subjRaw = item.subject || '';\nconst fromEmailRaw = (item.from_email || '').toLowerCase();\nconst body = bodyRaw.toLowerCase();\nconst subj = subjRaw.toLowerCase();\nconst combined = subj + ' ' + body;\n\nconst bounceSignals = ['mailer-daemon', 'postmaster@', 'noreply', 'no-reply', 'undeliverable', 'delivery status notification', 'address not found', 'user unknown', 'mailbox full'];\nlet isBounce = false;\nfor (const s of bounceSignals) {\n  if (fromEmailRaw.includes(s) || subj.includes(s) || body.includes(s)) { isBounce = true; break; }\n}\n\nconst unsubSignals = ['unsubscribe', 'remove me', 'take me off', 'stop emailing', 'do not contact', 'leave me alone', 'opt out', 'opt-out', 'no more emails'];\nlet isUnsub = false;\nfor (const s of unsubSignals) { if (combined.includes(s)) { isUnsub = true; break; } }\n\n// Report-complaint detection: customer paid, received report, is unhappy with quality.\n// Distinct from generic negative because this is actionable (auto-regenerate) not routing to churn.\nconst reportComplaintSignals = [\n  'report is wrong', 'report is confusing', 'report is not', 'not what i paid for',\n  'not what I asked for', 'missed my point', 'missed the point', 'doesn\\'t address',\n  'does not address', 'doesnt address', 'regenerate', 'redo the report',\n  'redo my report', 'report is off', 'report was off', 'report seems',\n  'not accurate', 'inaccurate report', 'wrong about my business',\n  'refund my', 'refund the report', 'wasted my money', 'this is useless',\n];\nlet isReportComplaint = false;\nfor (const s of reportComplaintSignals) { if (combined.includes(s)) { isReportComplaint = true; break; } }\n\nconst pos = ['interested','tell me more','sounds good','want to learn','let s talk','schedule','book','yes','definitely','love to','great','when can','how much','price','cost','demo','free website'];\nconst neg = ['no thanks','not interested','not right now','spam','not now','not a fit','wrong person','pass','no thank you'];\n\nlet pc = 0, nc = 0;\nfor (const s of pos) { if (combined.includes(s)) pc++; }\nfor (const s of neg) { if (combined.includes(s)) nc++; }\n\nlet intent;\nif (isBounce) intent = 'bounce';\nelse if (isUnsub) intent = 'unsubscribe';\nelse if (isReportComplaint) intent = 'report_complaint';\nelse if (nc > 0) intent = 'negative';\nelse if (pc >= 1) intent = 'positive';\nelse intent = 'neutral';\n\nresults.push({json: {...item, intent, pos_signals: pc, neg_signals: nc, is_bounce: isBounce, is_unsub: isUnsub, is_report_complaint: isReportComplaint}});\n}\nreturn results;"}},{"id":"write_class","name":"Write Classification to Replies","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,0],"parameters":{"jsCode":"\nconst OJ_URL = 'https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  if (!data.event_id) {\n    results.push({json: {event_id: null, write_status: 'skipped_no_event_id'}});\n    continue;\n  }\n\n  const payload = {\n    state: 'classified',\n    intent: data.intent,\n    prospect_id: data.prospect_id || null,\n    from_address: data.from_address,\n    to_address: data.to_address,\n    subject: data.subject,\n    raw_text: data.body_text,\n    message_id: data.message_id,\n    received_at: data.received_at,\n    prospect_name: data.prospect_name || null,\n    pos_signals: data.pos_signals,\n    neg_signals: data.neg_signals\n  };\n\n  try {\n    await helpers.httpRequest({\n      method: 'PATCH',\n      url: OJ_URL + '/rest/v1/events?id=eq.' + data.event_id,\n      headers: {\n        'apikey': OJ_KEY,\n        'Authorization': 'Bearer ' + OJ_KEY,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: {payload: payload}\n    });\n    results.push({json: {event_id: data.event_id, write_status: 'ok', intent: data.intent, prospect_id: data.prospect_id || null, from_email: data.from_address || data.from_email || null, from_name: data.prospect_name || null, subject: data.subject || null, body_text: data.body_text || null, pos_signals: data.pos_signals || 0, neg_signals: data.neg_signals || 0}});\n  } catch(e) {\n    results.push({json: {event_id: data.event_id, write_status: 'error', error_msg: String(e && e.message ? e.message : e)}});\n  }\n}\n\nreturn results;\n"}},{"id":"filter","name":"Filter Positive","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1200,0],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"positive","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"slack","name":"Slack Alert brain-capture","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,-80],"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"channel\": \"C0AJY9J6RSN\", \"text\": \"*POSITIVE REPLY - OpsJuice*\\n*From:* {{ $json.from_name || $json.from_email }} ({{ $json.from_email }})\\n*Subject:* {{ $json.subject }}\\n*Signals:* {{ $json.pos_signals }} positive\\n\\n*Book:* https://cal.com/adrien-harrison/ai-assessment\"}","options":{}},"credentials":{"httpHeaderAuth":{"id":"h7j4MOy9YnN89mim","name":"Slack Bot Header Auth"}}},{"id":"update","name":"Update Prospect State","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,80],"parameters":{"method":"PATCH","url":"=https://wwacjhkpuaiijbkqnhsi.supabase.co/rest/v1/prospects?id=eq.{{ $json.prospect_id }}","authentication":"none","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"outreach_state\":\"replied\",\"last_touch_at\":\"{{ new Date().toISOString() }}\"}","options":{},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0"}]}},"onError":"continueRegularOutput"},{"id":"attr_reply","name":"Write reply_positive attribution","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,80],"parameters":{"jsCode":"const OJ_URL = 'https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  if (!data.prospect_id) {\n    results.push({json: {attr_status: 'skipped_no_prospect_id', event_id: data.event_id}});\n    continue;\n  }\n  try {\n    await helpers.httpRequest({\n      method: 'POST',\n      url: OJ_URL + '/rest/v1/outcome_attribution',\n      headers: {\n        'apikey': OJ_KEY,\n        'Authorization': 'Bearer ' + OJ_KEY,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: {\n        company_id: 'opsjuice',\n        outcome_type: 'reply_positive',\n        prospect_id: data.prospect_id,\n        notes: 'event_id:' + data.event_id\n      }\n    });\n    results.push({json: {attr_status: 'ok', event_id: data.event_id, prospect_id: data.prospect_id}});\n  } catch(e) {\n    results.push({json: {attr_status: 'error', event_id: data.event_id, error_msg: String(e && e.message ? e.message : e)}});\n  }\n}\n\nreturn results;"}},{"id":"send_booking","name":"Send Booking Link Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,160],"parameters":{"language":"javaScript","jsCode":"const OJ_URL = 'https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst RESEND_KEY = 're_xRcPgRZQ_K4amwq6HnzHsYMfsMWPW23nB';\nconst ASSESSMENT_URL = 'https://opsjuice.com/ai-assessment';\nconst TEST_EMAIL = 'adrientharrison@gmail.com';\nconst FROM_ADDRESS = 'info@opsjuice.com';\n\nconst item = $input.item.json;\nconst prospectId = item.prospect_id;\nconst fromEmail = item.from_email;\n\n// Fetch prospect details\nlet firstName = null, businessName = null, prospectEmail = null;\nif (prospectId) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'GET',\n      url: OJ_URL + '/rest/v1/prospects?id=eq.' + prospectId + '&select=first_name,business_name,email&limit=1',\n      headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY }\n    });\n    const rows = Array.isArray(resp) ? resp : (resp.data || []);\n    if (rows.length > 0) {\n      firstName = rows[0].first_name || null;\n      businessName = rows[0].business_name || null;\n      prospectEmail = rows[0].email || null;\n    }\n  } catch(e) { console.error('prospect_fetch_err:', e.message); }\n}\n\n// Route to TEST_EMAIL if no prospect email or if inbound is from test\nconst isTest = !prospectEmail || fromEmail === TEST_EMAIL;\nconst toEmail = isTest ? TEST_EMAIL : prospectEmail;\n\n// Build email body -- drive to the paid $250 AI assessment. NO call/booking pre-payment.\nconst greeting = firstName ? 'Hi ' + firstName + ',' : 'Hi there,';\nconst bizRef = businessName ? ' at ' + businessName : '';\nconst bodyLines = [\n  greeting,\n  '',\n  'Good question. The AI assessment is a focused, done-for-you deep-dive into your operation' + bizRef + '. You answer a short set of questions about how the work actually flows today: where calls get missed, where hours go into manual follow-up, quoting, scheduling, the parts that keep you at the desk instead of running the business.',\n  '',\n  'From that, you get a written report that shows exactly where AI saves you the most time, what each fix is worth in hours and dollars, and the specific order to roll them out. It is built for your business, not a generic checklist. Most owners find several thousand dollars a month of recoverable time in it.',\n  '',\n  'It is $250, and you can start it here:',\n  '',\n  ASSESSMENT_URL,\n  '',\n  'Once you are in, it takes about 20 minutes and the report comes straight back to you. If anything is unclear before you start, just reply and I will answer.',\n  '',\n  'Adrien',\n  'OpsJuice'\n];\nconst emailBody = bodyLines.join('\\n') + '\\n\\n---\\nOpsJuice, a service of Echo Collective LLC | 8 East 96th Street, New York, NY 10128 | Reply STOP to unsubscribe';\n\n// Send via Resend\nlet sendResult = 'not_sent';\ntry {\n  await helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.resend.com/emails',\n    headers: {\n      'Authorization': 'Bearer ' + RESEND_KEY,\n      'Content-Type': 'application/json'\n    },\n    body: {\n      from: FROM_ADDRESS,\n      to: [toEmail],\n      subject: 'Re: ' + (item.subject || 'your business'),\n      text: emailBody\n    }\n  });\n  sendResult = 'sent';\n  console.log('assessment_email_sent to ' + toEmail + ' isTest=' + isTest);\n} catch(e) {\n  sendResult = 'error:' + String(e && e.message ? e.message : e);\n  console.error('assessment_email_err:', sendResult);\n}\n\nreturn [{json: {\n  event_id: item.event_id,\n  prospect_id: prospectId,\n  to_email: toEmail,\n  is_test: isTest,\n  cal_url: ASSESSMENT_URL,\n  send_result: sendResult\n}}];\n"}},{"id":"write_booking_row","name":"Write Booking Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[1620,160],"parameters":{"language":"javaScript","jsCode":"const OJ_URL = 'https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\n\nconst item = $input.item.json;\nconst prospectId = item.prospect_id || null;\nconst sendResult = item.send_result || 'unknown';\n\nconst didSend = sendResult === 'sent';\n\nlet rowId = null;\nif (didSend) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'POST',\n      url: OJ_URL + '/rest/v1/outcome_attribution',\n      headers: {\n        'apikey': OJ_KEY,\n        'Authorization': 'Bearer ' + OJ_KEY,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=representation'\n      },\n      body: {\n        company_id: 'opsjuice',\n        outcome_type: 'booking_email_sent',\n        prospect_id: prospectId,\n        notes: JSON.stringify({\n          cal_url: item.cal_url,\n          to_email: item.to_email,\n          is_test: item.is_test,\n          event_id: item.event_id\n        })\n      }\n    });\n    const rows = Array.isArray(resp) ? resp : (resp.data || []);\n    rowId = rows.length > 0 ? rows[0].id : null;\n    console.log('booking_row_written id=' + rowId);\n  } catch(e) {\n    console.error('booking_row_err:', e.message);\n  }\n}\n\nreturn [{json: {\n  ...item,\n  booking_row_id: rowId,\n  booking_row_written: didSend && rowId !== null\n}}];"}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"filter-unsub-cond","leftValue":"={{ $json.intent }}","rightValue":"unsubscribe","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"filter-unsub","name":"Filter Unsubscribe","type":"n8n-nodes-base.filter","typeVersion":2,"position":[500,800]},{"parameters":{"jsCode":"const https = require('https');\nconst OJ_HOST = 'wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst item = $input.item.json;\nconst prospectId = item.prospect_id;\nif (!prospectId) return [{json: {...item, unsub_status: 'skipped_no_prospect_id'}}];\n\nconst body = JSON.stringify({outreach_state: 'unsubscribed', notes: 'Auto-suppressed via reply-poller intent=unsubscribe on ' + new Date().toISOString()});\nconst result = await new Promise((resolve) => {\n  const req = https.request({\n    hostname: OJ_HOST, path: '/rest/v1/prospects?id=eq.' + encodeURIComponent(prospectId),\n    method: 'PATCH',\n    headers: {'apikey': OJ_KEY, 'authorization': 'Bearer ' + OJ_KEY, 'content-type': 'application/json', 'prefer': 'return=minimal', 'content-length': Buffer.byteLength(body)},\n  }, (res) => { let d=''; res.on('data', c=>d+=c); res.on('end', ()=>resolve({status: res.statusCode, body: d})); });\n  req.on('error', (e) => resolve({status: 0, error: String(e)}));\n  req.write(body); req.end();\n});\nreturn [{json: {...item, unsub_status: result.status, unsub_ok: result.status >= 200 && result.status < 300}}];"},"id":"patch-unsub","name":"Patch Prospect Unsubscribed","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,800]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"filter-bounce-cond","leftValue":"={{ $json.intent }}","rightValue":"bounce","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"filter-bounce","name":"Filter Bounce","type":"n8n-nodes-base.filter","typeVersion":2,"position":[500,950]},{"parameters":{"jsCode":"const https = require('https');\nconst OJ_HOST = 'wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst item = $input.item.json;\nconst prospectId = item.prospect_id;\nif (!prospectId) return [{json: {...item, bounce_status: 'skipped_no_prospect_id'}}];\n\nconst body = JSON.stringify({outreach_state: 'bounced', notes: 'Auto-flagged bounce via reply-poller intent=bounce on ' + new Date().toISOString()});\nconst result = await new Promise((resolve) => {\n  const req = https.request({\n    hostname: OJ_HOST, path: '/rest/v1/prospects?id=eq.' + encodeURIComponent(prospectId),\n    method: 'PATCH',\n    headers: {'apikey': OJ_KEY, 'authorization': 'Bearer ' + OJ_KEY, 'content-type': 'application/json', 'prefer': 'return=minimal', 'content-length': Buffer.byteLength(body)},\n  }, (res) => { let d=''; res.on('data', c=>d+=c); res.on('end', ()=>resolve({status: res.statusCode, body: d})); });\n  req.on('error', (e) => resolve({status: 0, error: String(e)}));\n  req.write(body); req.end();\n});\nreturn [{json: {...item, bounce_status: result.status, bounce_ok: result.status >= 200 && result.status < 300}}];"},"id":"patch-bounce","name":"Patch Prospect Bounced","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,950]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"filter-neutral-cond","leftValue":"={{ $json.intent }}","rightValue":"neutral","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"filter-neutral","name":"Filter Neutral","type":"n8n-nodes-base.filter","typeVersion":2,"position":[500,1100]},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"channel\": \"C0AJY9J6RSN\",\n  \"text\": \"*NEUTRAL REPLY - OpsJuice*\\n*From:* {{ $json.from_name || $json.from_email }} ({{ $json.from_email }})\\n*Subject:* {{ $json.subject }}\\n*Body:* {{ ($json.body_text || '').slice(0,240) }}\\n\\n*Adrien decides:* reply-personally / suppress / booking-invite\"\n}","options":{}},"id":"slack-neutral","name":"Slack Alert Neutral to brain-capture","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,1100],"credentials":{"httpHeaderAuth":{"id":"h7j4MOy9YnN89mim","name":"Slack Bot Header Auth"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"filter-report-complaint-cond","leftValue":"={{ $json.intent }}","rightValue":"report_complaint","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"filter-report-complaint","name":"Filter Report Complaint","type":"n8n-nodes-base.filter","typeVersion":2,"position":[500,1250]},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"channel\": \"C0AJY9J6RSN\",\n  \"text\": \"*REPORT COMPLAINT - OpsJuice*\\n*From:* {{ $json.from_name || $json.from_email }} ({{ $json.from_email }})\\n*Subject:* {{ $json.subject }}\\n*Body:* {{ ($json.body_text || '').slice(0,320) }}\\n\\n*Adrien decides:* auto-regenerate / manual-review / refund. Auto-regenerate workflow OJ-Report-Regenerate wire pending Sonnet a6f0cd2a Groq critique-prompt research.\"\n}","options":{}},"id":"slack-report-complaint","name":"Slack Alert Report Complaint to brain-capture","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,1250],"credentials":{"httpHeaderAuth":{"id":"h7j4MOy9YnN89mim","name":"Slack Bot Header Auth"}}},{"parameters":{"language":"javaScript","jsCode":"const OJ_URL = 'https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst RESEND_KEY = 're_xRcPgRZQ_K4amwq6HnzHsYMfsMWPW23nB';\nconst ASSESSMENT_URL = 'https://opsjuice.com/ai-assessment';\nconst TEST_EMAIL = 'adrientharrison@gmail.com';\nconst FROM_ADDRESS = 'info@opsjuice.com';\n\nconst item = $input.item.json;\nconst prospectId = item.prospect_id;\nconst fromEmail = item.from_email;\n\n// Fetch prospect details\nlet firstName = null, businessName = null, prospectEmail = null;\nif (prospectId) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'GET',\n      url: OJ_URL + '/rest/v1/prospects?id=eq.' + prospectId + '&select=first_name,business_name,email,neutral_auto_replied_at&limit=1',\n      headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY }\n    });\n    const rows = Array.isArray(resp) ? resp : (resp.data || []);\n    if (rows.length > 0) {\n      firstName = rows[0].first_name || null;\n      businessName = rows[0].business_name || null;\n      prospectEmail = rows[0].email || null;\n      // one auto-reply per prospect max; humans take over threads after that\n      if (rows[0].neutral_auto_replied_at) {\n        return [{json: {prospect_id: prospectId, skipped: 'already_auto_replied'}}];\n      }\n    }\n  } catch(e) { console.error('prospect_fetch_err:', e.message); }\n}\n\nconst isTest = !prospectEmail || fromEmail === TEST_EMAIL;\nconst toEmail = isTest ? TEST_EMAIL : prospectEmail;\n\nconst greeting = firstName ? 'Hi ' + firstName + ',' : 'Hi there,';\nconst bizRef = businessName ? ' at ' + businessName : '';\nconst bodyLines = [\n  greeting,\n  '',\n  'Thanks for getting back to me. Happy to keep it short.',\n  '',\n  'What I offer is a $250 AI assessment for your operation' + bizRef + ': you answer a focused set of questions about how the work flows today (missed calls, follow-up, quoting, scheduling), and within 24 hours you get a written report showing exactly where AI saves you the most hours and dollars, in what order, with the math shown. If it does not identify at least $2,000 in recoverable revenue, you get a refund.',\n  '',\n  'You can start here whenever it suits you:',\n  '',\n  ASSESSMENT_URL,\n  '',\n  'And if you have a specific question first, just reply and you will get a straight answer.',\n  '',\n  'Adrien',\n  'OpsJuice'\n];\nconst emailBody = bodyLines.join('\\n') + '\\n\\n---\\nOpsJuice, a service of Echo Collective LLC | 8 East 96th Street, New York, NY 10128 | Reply STOP to unsubscribe';\n\nlet sendResult = 'not_sent';\ntry {\n  await helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.resend.com/emails',\n    headers: { 'Authorization': 'Bearer ' + RESEND_KEY, 'Content-Type': 'application/json' },\n    body: { from: FROM_ADDRESS, to: [toEmail], subject: 'Re: ' + (item.subject || 'your business'), text: emailBody }\n  });\n  sendResult = 'sent';\n  console.log('neutral_auto_reply_sent to ' + toEmail + ' isTest=' + isTest);\n  if (prospectId) {\n    try {\n      await helpers.httpRequest({\n        method: 'PATCH',\n        url: OJ_URL + '/rest/v1/prospects?id=eq.' + prospectId,\n        headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n        body: { neutral_auto_replied_at: new Date().toISOString() }\n      });\n    } catch(e) { console.error('mark_auto_replied_err:', e.message); }\n  }\n} catch(e) {\n  sendResult = 'error:' + String(e && e.message ? e.message : e);\n  console.error('neutral_auto_reply_err:', sendResult);\n}\n\nreturn [{json: { prospect_id: prospectId, to_email: toEmail, is_test: isTest, send_result: sendResult }}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,660],"id":"send-neutral-auto-reply-001","name":"Send Neutral Auto-Reply"},{"parameters":{"language":"javaScript","jsCode":"const OJ_URL = 'https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\nconst RESEND_KEY = 're_xRcPgRZQ_K4amwq6HnzHsYMfsMWPW23nB';\nconst TEST_EMAIL = 'adrientharrison@gmail.com';\nconst FROM_ADDRESS = 'info@opsjuice.com';\n\nconst item = $input.item.json;\nconst prospectId = item.prospect_id;\nconst fromEmail = (item.from_email || '').toLowerCase();\n\n// Fetch prospect for name + canonical email\nlet firstName = null, prospectEmail = null;\nif (prospectId) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'GET',\n      url: OJ_URL + '/rest/v1/prospects?id=eq.' + prospectId + '&select=first_name,email&limit=1',\n      headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY }\n    });\n    const rows = Array.isArray(resp) ? resp : (resp.data || []);\n    if (rows.length > 0) { firstName = rows[0].first_name || null; prospectEmail = rows[0].email || null; }\n  } catch(e) { console.error('prospect_fetch_err:', e.message); }\n}\nconst isTest = !prospectEmail || fromEmail === TEST_EMAIL;\nconst toEmail = isTest ? TEST_EMAIL : prospectEmail;\n\n// 1) Durable regen queue row (consumer workflow drains it)\nlet queueResult = 'not_queued';\ntry {\n  await helpers.httpRequest({\n    method: 'POST',\n    url: OJ_URL + '/rest/v1/oj_report_regen_queue',\n    headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n    body: { prospect_id: prospectId || null, from_email: fromEmail || 'unknown', reply_excerpt: String(item.body_text || '').slice(0, 500) }\n  });\n  queueResult = 'queued';\n} catch(e) { queueResult = 'queue_error:' + String(e && e.message ? e.message : e); console.error('regen_queue_err:', queueResult); }\n\n// 2) Immediate acknowledgment to the customer\nconst greeting = firstName ? 'Hi ' + firstName + ',' : 'Hi there,';\nconst bodyLines = [\n  greeting,\n  '',\n  'You are right to flag it, and thanks for telling me directly.',\n  '',\n  'I am rebuilding your report now with your feedback taken into account. You will have the updated version within 24 hours. If the new version still misses the mark, I will refund you in full, no questions.',\n  '',\n  'If there is anything specific you want the rebuilt report to focus on, reply with a line or two and it goes straight into the rebuild.',\n  '',\n  'Adrien',\n  'OpsJuice'\n];\nconst emailBody = bodyLines.join('\\n') + '\\n\\n---\\nOpsJuice, a service of Echo Collective LLC | 8 East 96th Street, New York, NY 10128 | Reply STOP to unsubscribe';\n\nlet sendResult = 'not_sent';\ntry {\n  await helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.resend.com/emails',\n    headers: { 'Authorization': 'Bearer ' + RESEND_KEY, 'Content-Type': 'application/json' },\n    body: { from: FROM_ADDRESS, to: [toEmail], subject: 'Re: ' + (item.subject || 'your report'), text: emailBody }\n  });\n  sendResult = 'sent';\n  console.log('complaint_ack_sent to ' + toEmail + ' isTest=' + isTest + ' queue=' + queueResult);\n} catch(e) { sendResult = 'error:' + String(e && e.message ? e.message : e); console.error('complaint_ack_err:', sendResult); }\n\nreturn [{json: { prospect_id: prospectId, to_email: toEmail, is_test: isTest, queue_result: queueResult, send_result: sendResult }}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,820],"id":"complaint-ack-queue-regen-001","name":"Complaint Ack + Queue Regen"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"filter-negative-cond","leftValue":"={{ $json.intent }}","rightValue":"negative","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"type":"n8n-nodes-base.filter","typeVersion":2,"position":[1200,980],"id":"filter-negative-001","name":"Filter Negative"},{"parameters":{"language":"javaScript","jsCode":"const OJ_URL = 'https://wwacjhkpuaiijbkqnhsi.supabase.co';\nconst OJ_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0';\n\nconst item = $input.item.json;\nconst prospectId = item.prospect_id;\nif (!prospectId) { return [{json: {skipped: 'no_prospect_id'}}]; }\n\ntry {\n  await helpers.httpRequest({\n    method: 'PATCH',\n    url: OJ_URL + '/rest/v1/prospects?id=eq.' + prospectId,\n    headers: { 'apikey': OJ_KEY, 'Authorization': 'Bearer ' + OJ_KEY, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n    body: { outreach_state: 'closed', last_touch_at: new Date().toISOString() },\n  });\n  console.log('negative_prospect_closed prospect=' + prospectId);\n  return [{json: {prospect_id: prospectId, action: 'closed', reason: 'negative_reply'}}];\n} catch(e) {\n  return [{json: {prospect_id: prospectId, action: 'error', err: String(e && e.message ? e.message : e)}}];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,980],"id":"patch-prospect-negative-001","name":"Patch Prospect Negative"}],"connections":{"Every 5 minutes":{"main":[[{"node":"Fetch Recent Inbound Emails","type":"main","index":0}]]},"Fetch Recent Inbound Emails":{"main":[[{"node":"Match vs OpsJuice Prospects","type":"main","index":0}]]},"Match vs OpsJuice Prospects":{"main":[[{"node":"Classify Intent","type":"main","index":0}]]},"Classify Intent":{"main":[[{"node":"Write Classification to Replies","type":"main","index":0}]]},"Write Classification to Replies":{"main":[[{"node":"Filter Positive","type":"main","index":0},{"node":"Filter Unsubscribe","type":"main","index":0},{"node":"Filter Bounce","type":"main","index":0},{"node":"Filter Neutral","type":"main","index":0},{"node":"Filter Report Complaint","type":"main","index":0},{"node":"Filter Negative","type":"main","index":0}]]},"Filter Positive":{"main":[[{"node":"Slack Alert brain-capture","type":"main","index":0},{"node":"Update Prospect State","type":"main","index":0},{"node":"Write reply_positive attribution","type":"main","index":0},{"node":"Send Booking Link Email","type":"main","index":0}]]},"Send Booking Link Email":{"main":[[{"node":"Write Booking Row","type":"main","index":0}]]},"Filter Unsubscribe":{"main":[[{"node":"Patch Prospect Unsubscribed","type":"main","index":0}]]},"Filter Bounce":{"main":[[{"node":"Patch Prospect Bounced","type":"main","index":0}]]},"Filter Neutral":{"main":[[{"node":"Slack Alert Neutral to brain-capture","type":"main","index":0},{"node":"Send Neutral Auto-Reply","type":"main","index":0}]]},"Filter Report Complaint":{"main":[[{"node":"Slack Alert Report Complaint to brain-capture","type":"main","index":0},{"node":"Complaint Ack + Queue Regen","type":"main","index":0}]]},"Filter Negative":{"main":[[{"node":"Patch Prospect Negative","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Adrien Harrison","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-07-14T19:09:49.620Z","id":11371,"workflowId":"J3IloUaJgbH6wodE","versionId":"d0637a70-7f4e-4786-b966-2e078eefe991","event":"activated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-14T20:59:20.990Z","id":13362,"workflowId":"J3IloUaJgbH6wodE","versionId":"d0637a70-7f4e-4786-b966-2e078eefe991","event":"deactivated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-14T20:59:21.007Z","id":13363,"workflowId":"J3IloUaJgbH6wodE","versionId":"d0637a70-7f4e-4786-b966-2e078eefe991","event":"activated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-15T11:00:33.946Z","id":15398,"workflowId":"J3IloUaJgbH6wodE","versionId":"d0637a70-7f4e-4786-b966-2e078eefe991","event":"deactivated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-15T11:00:33.964Z","id":15399,"workflowId":"J3IloUaJgbH6wodE","versionId":"d0637a70-7f4e-4786-b966-2e078eefe991","event":"activated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"}]}}