data/n8n-fetched/kT7I5CRyDiKrEdcC.json
{"updatedAt":"2026-07-14T19:01:13.309Z","createdAt":"2026-07-14T19:01:13.309Z","id":"kT7I5CRyDiKrEdcC","name":"OJ-Referral-Ask","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"oj-referral-ask","responseMode":"responseNode","options":{}},"id":"wh-ask","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"oj-referral-ask"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst assessmentId = body.assessment_id;\nconst prospectEmail = body.prospect_email;\nconst firstName = body.first_name || 'there';\nconst company = body.company || 'your business';\nconst niche = body.niche || 'business';\nif (!assessmentId || !prospectEmail) throw new Error('Missing assessment_id or prospect_email');\nreturn [{ json: { assessmentId, prospectEmail, firstName, company, niche } }];"},"id":"parse-input","name":"Parse Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,300]},{"parameters":{"method":"GET","url":"={{ 'https://wwacjhkpuaiijbkqnhsi.supabase.co/rest/v1/events?event_type=eq.referral_ask_sent&payload->>' + encodeURIComponent('assessment_id') + '=eq.' + encodeURIComponent($('Parse Input').first().json.assessmentId) + '&select=count' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0"},{"name":"Accept","value":"application/json"}]},"options":{"alwaysOutputData":true}},"id":"check-dedup","name":"Check Dedup","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,300]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const count = $json.count || 0;\nconst alreadySent = count > 0;\nreturn { json: { alreadySent } };"},"id":"parse-dedup","name":"Parse Dedup","type":"n8n-nodes-base.code","typeVersion":2,"position":[840,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"dedup-check","leftValue":"={{ $json.alreadySent }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"if-not-sent","name":"Not Sent Yet?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1040,300]},{"parameters":{"jsCode":"const parsed = $('Parse Input').first().json;\nconst assessmentId = parsed.assessmentId || parsed.assessment_id || '';\nconst prospectEmail = parsed.prospectEmail || parsed.prospect_email || '';\nconst firstName = parsed.firstName || parsed.first_name || 'there';\nconst company = parsed.company || parsed.business_name || '';\nconst niche = parsed.niche || 'business';\n\nconst subject = \"Know someone who'd benefit from OpsJuice?\";\n\nconst html = `<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;color:#333\">\n<p>Hi ${firstName},</p>\n<p>Thanks for trusting OpsJuice with your AI assessment. I hope it gave you a clear picture of where the fastest wins are.</p>\n<p>Quick ask: do you know another business owner stuck in the same place you were? Repetitive work, time drain, never catching up. If you do, an intro would mean a lot.</p>\n<p>If they complete an AI Assessment, I'll give you both <strong>$250 toward any OpsJuice build</strong>. Just reply with their name and email and I'll take it from there.</p>\n<div style=\"margin:24px 0\"><a href=\"https://cal.com/adrien-harrison/opsjuice-intro\" style=\"background:#1a1a1a;color:#fff;padding:12px 24px;text-decoration:none;border-radius:4px;display:inline-block\">Book a Free Strategy Call</a></div>\n<p>Talk soon,<br>Adrien Harrison<br>Founder, OpsJuice | opsjuice.com</p>\n</body></html>`;\n\nconst plain = `Hi ${firstName},\n\nThanks for trusting OpsJuice with your AI assessment. I hope it gave you a clear picture of where the fastest wins are.\n\nQuick ask: do you know another business owner stuck in the same place you were? Repetitive work, time drain, never catching up. If you do, an intro would mean a lot.\n\nIf they complete an AI Assessment, I'll give you both $250 toward any OpsJuice build. Just reply with their name and email and I'll take it from there.\n\nBook your free strategy call: https://cal.com/adrien-harrison/opsjuice-intro\n\nTalk soon,\nAdrien Harrison\nFounder, OpsJuice | opsjuice.com`;\n\nconst supabaseRowJson = JSON.stringify({\n  event_type: 'referral_ask_sent',\n  actor: 'system',\n  payload: {\n    assessment_id: assessmentId,\n    prospect_email: prospectEmail,\n    first_name: firstName,\n    company: company,\n    niche: niche,\n    triggered_at: new Date().toISOString(),\n    incentive: '$250 toward any OpsJuice build when referred contact completes assessment'\n  }\n});\n\nreturn [{ json: { assessmentId, prospectEmail, firstName, company, niche, subject, html, plain, supabaseRowJson } }];"},"id":"build-email","name":"Build Email Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[1240,200]},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"from","value":"Adrien Harrison <info@opsjuice.com>"},{"name":"to","value":"={{ [$json.prospectEmail] }}"},{"name":"subject","value":"={{ 'one ask, ' + $json.firstName + ' (and a $250 thank-you if it lands)' }}"},{"name":"html","value":"={{ $json.html }}"},{"name":"text","value":"={{ $json.plain }}"}]},"options":{}},"credentials":{"httpHeaderAuth":{"id":"Nyx171o1yTMqaaet","name":"OpsJuice Resend API"}},"id":"send-email","name":"Send Email","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1440,200]},{"parameters":{"method":"POST","url":"https://wwacjhkpuaiijbkqnhsi.supabase.co/rest/v1/events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"bodyParameters":{"parameters":[]},"specifyBody":"json","jsonBody":"={{ $('Build Email Body').first().json.supabaseRowJson }}","options":{}},"id":"log-event","name":"Log Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,400]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, resend_id: $('Send Email').first().json.id, event_id: $json.id || null, skipped: false }) }}"},"id":"respond-sent","name":"Respond Sent","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1840,200]},{"parameters":{"respondWith":"json","responseBody":"={\"success\":true,\"skipped\":true}"},"id":"respond-skip","name":"Respond Skip","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1240,400]},{"id":"build-log-payload","name":"Build Log Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,400],"parameters":{"mode":"runOnceForEachItem","jsCode":"const emailBody = $('Build Email Body').first().json;\nconst resendId = $json.id || '';\nreturn { json: { event_type: 'referral_ask_sent', actor: 'system', payload: { assessment_id: emailBody.assessmentId, prospect_email: emailBody.prospectEmail, first_name: emailBody.firstName, company: emailBody.company, niche: emailBody.niche, resend_id: resendId, triggered_at: new Date().toISOString(), incentive: '$250 toward any OpsJuice build when referred contact completes assessment' } } };"}}],"connections":{"Webhook":{"main":[[{"node":"Parse Input","type":"main","index":0}]]},"Parse Input":{"main":[[{"node":"Check Dedup","type":"main","index":0}]]},"Check Dedup":{"main":[[{"node":"Parse Dedup","type":"main","index":0}]]},"Parse Dedup":{"main":[[{"node":"Not Sent Yet?","type":"main","index":0}]]},"Not Sent Yet?":{"main":[[{"node":"Build Email Body","type":"main","index":0}],[{"node":"Respond Skip","type":"main","index":0}]]},"Build Email Body":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Build Log Payload","type":"main","index":0}]]},"Log Event":{"main":[[{"node":"Respond Sent","type":"main","index":0}]]},"Build Log Payload":{"main":[[{"node":"Log Event","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"f173da81-f134-4a70-a48e-e509d29b3351","activeVersionId":"f173da81-f134-4a70-a48e-e509d29b3351","versionCounter":1,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-07-14T19:01:13.309Z","createdAt":"2026-07-14T19:01:13.309Z","role":"workflow:owner","workflowId":"kT7I5CRyDiKrEdcC","projectId":"aG0DYxb0hhrRA8cY","project":{"updatedAt":"2026-07-13T07:42:55.665Z","createdAt":"2026-07-13T07:36:36.999Z","id":"aG0DYxb0hhrRA8cY","name":"Adrien Harrison <info@opsjuice.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"}}],"tags":[],"activeVersion":{"updatedAt":"2026-07-14T19:01:13.309Z","createdAt":"2026-07-14T19:01:13.309Z","versionId":"f173da81-f134-4a70-a48e-e509d29b3351","workflowId":"kT7I5CRyDiKrEdcC","nodes":[{"parameters":{"httpMethod":"POST","path":"oj-referral-ask","responseMode":"responseNode","options":{}},"id":"wh-ask","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"oj-referral-ask"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst assessmentId = body.assessment_id;\nconst prospectEmail = body.prospect_email;\nconst firstName = body.first_name || 'there';\nconst company = body.company || 'your business';\nconst niche = body.niche || 'business';\nif (!assessmentId || !prospectEmail) throw new Error('Missing assessment_id or prospect_email');\nreturn [{ json: { assessmentId, prospectEmail, firstName, company, niche } }];"},"id":"parse-input","name":"Parse Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,300]},{"parameters":{"method":"GET","url":"={{ 'https://wwacjhkpuaiijbkqnhsi.supabase.co/rest/v1/events?event_type=eq.referral_ask_sent&payload->>' + encodeURIComponent('assessment_id') + '=eq.' + encodeURIComponent($('Parse Input').first().json.assessmentId) + '&select=count' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0"},{"name":"Accept","value":"application/json"}]},"options":{"alwaysOutputData":true}},"id":"check-dedup","name":"Check Dedup","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,300]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const count = $json.count || 0;\nconst alreadySent = count > 0;\nreturn { json: { alreadySent } };"},"id":"parse-dedup","name":"Parse Dedup","type":"n8n-nodes-base.code","typeVersion":2,"position":[840,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"dedup-check","leftValue":"={{ $json.alreadySent }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"if-not-sent","name":"Not Sent Yet?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1040,300]},{"parameters":{"jsCode":"const parsed = $('Parse Input').first().json;\nconst assessmentId = parsed.assessmentId || parsed.assessment_id || '';\nconst prospectEmail = parsed.prospectEmail || parsed.prospect_email || '';\nconst firstName = parsed.firstName || parsed.first_name || 'there';\nconst company = parsed.company || parsed.business_name || '';\nconst niche = parsed.niche || 'business';\n\nconst subject = \"Know someone who'd benefit from OpsJuice?\";\n\nconst html = `<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;color:#333\">\n<p>Hi ${firstName},</p>\n<p>Thanks for trusting OpsJuice with your AI assessment. I hope it gave you a clear picture of where the fastest wins are.</p>\n<p>Quick ask: do you know another business owner stuck in the same place you were? Repetitive work, time drain, never catching up. If you do, an intro would mean a lot.</p>\n<p>If they complete an AI Assessment, I'll give you both <strong>$250 toward any OpsJuice build</strong>. Just reply with their name and email and I'll take it from there.</p>\n<div style=\"margin:24px 0\"><a href=\"https://cal.com/adrien-harrison/opsjuice-intro\" style=\"background:#1a1a1a;color:#fff;padding:12px 24px;text-decoration:none;border-radius:4px;display:inline-block\">Book a Free Strategy Call</a></div>\n<p>Talk soon,<br>Adrien Harrison<br>Founder, OpsJuice | opsjuice.com</p>\n</body></html>`;\n\nconst plain = `Hi ${firstName},\n\nThanks for trusting OpsJuice with your AI assessment. I hope it gave you a clear picture of where the fastest wins are.\n\nQuick ask: do you know another business owner stuck in the same place you were? Repetitive work, time drain, never catching up. If you do, an intro would mean a lot.\n\nIf they complete an AI Assessment, I'll give you both $250 toward any OpsJuice build. Just reply with their name and email and I'll take it from there.\n\nBook your free strategy call: https://cal.com/adrien-harrison/opsjuice-intro\n\nTalk soon,\nAdrien Harrison\nFounder, OpsJuice | opsjuice.com`;\n\nconst supabaseRowJson = JSON.stringify({\n  event_type: 'referral_ask_sent',\n  actor: 'system',\n  payload: {\n    assessment_id: assessmentId,\n    prospect_email: prospectEmail,\n    first_name: firstName,\n    company: company,\n    niche: niche,\n    triggered_at: new Date().toISOString(),\n    incentive: '$250 toward any OpsJuice build when referred contact completes assessment'\n  }\n});\n\nreturn [{ json: { assessmentId, prospectEmail, firstName, company, niche, subject, html, plain, supabaseRowJson } }];"},"id":"build-email","name":"Build Email Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[1240,200]},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"from","value":"Adrien Harrison <info@opsjuice.com>"},{"name":"to","value":"={{ [$json.prospectEmail] }}"},{"name":"subject","value":"={{ 'one ask, ' + $json.firstName + ' (and a $250 thank-you if it lands)' }}"},{"name":"html","value":"={{ $json.html }}"},{"name":"text","value":"={{ $json.plain }}"}]},"options":{}},"credentials":{"httpHeaderAuth":{"id":"Nyx171o1yTMqaaet","name":"OpsJuice Resend API"}},"id":"send-email","name":"Send Email","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1440,200]},{"parameters":{"method":"POST","url":"https://wwacjhkpuaiijbkqnhsi.supabase.co/rest/v1/events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3YWNqaGtwdWFpaWpia3FuaHNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgwODQyNSwiZXhwIjoyMDk0Mzg0NDI1fQ.I92OcFBQ9lxs4hFH3Q_rWYup2bULHuL3a2rqeEb1xf0"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"bodyParameters":{"parameters":[]},"specifyBody":"json","jsonBody":"={{ $('Build Email Body').first().json.supabaseRowJson }}","options":{}},"id":"log-event","name":"Log Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,400]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, resend_id: $('Send Email').first().json.id, event_id: $json.id || null, skipped: false }) }}"},"id":"respond-sent","name":"Respond Sent","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1840,200]},{"parameters":{"respondWith":"json","responseBody":"={\"success\":true,\"skipped\":true}"},"id":"respond-skip","name":"Respond Skip","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1240,400]},{"id":"build-log-payload","name":"Build Log Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,400],"parameters":{"mode":"runOnceForEachItem","jsCode":"const emailBody = $('Build Email Body').first().json;\nconst resendId = $json.id || '';\nreturn { json: { event_type: 'referral_ask_sent', actor: 'system', payload: { assessment_id: emailBody.assessmentId, prospect_email: emailBody.prospectEmail, first_name: emailBody.firstName, company: emailBody.company, niche: emailBody.niche, resend_id: resendId, triggered_at: new Date().toISOString(), incentive: '$250 toward any OpsJuice build when referred contact completes assessment' } } };"}}],"connections":{"Webhook":{"main":[[{"node":"Parse Input","type":"main","index":0}]]},"Parse Input":{"main":[[{"node":"Check Dedup","type":"main","index":0}]]},"Check Dedup":{"main":[[{"node":"Parse Dedup","type":"main","index":0}]]},"Parse Dedup":{"main":[[{"node":"Not Sent Yet?","type":"main","index":0}]]},"Not Sent Yet?":{"main":[[{"node":"Build Email Body","type":"main","index":0}],[{"node":"Respond Skip","type":"main","index":0}]]},"Build Email Body":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Build Log Payload","type":"main","index":0}]]},"Log Event":{"main":[[{"node":"Respond Sent","type":"main","index":0}]]},"Build Log Payload":{"main":[[{"node":"Log Event","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Adrien Harrison","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-07-14T19:10:57.895Z","id":12256,"workflowId":"kT7I5CRyDiKrEdcC","versionId":"f173da81-f134-4a70-a48e-e509d29b3351","event":"activated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-14T21:01:57.132Z","id":14280,"workflowId":"kT7I5CRyDiKrEdcC","versionId":"f173da81-f134-4a70-a48e-e509d29b3351","event":"deactivated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-14T21:01:57.153Z","id":14281,"workflowId":"kT7I5CRyDiKrEdcC","versionId":"f173da81-f134-4a70-a48e-e509d29b3351","event":"activated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-15T11:02:42.625Z","id":16316,"workflowId":"kT7I5CRyDiKrEdcC","versionId":"f173da81-f134-4a70-a48e-e509d29b3351","event":"deactivated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"},{"createdAt":"2026-07-15T11:02:42.639Z","id":16317,"workflowId":"kT7I5CRyDiKrEdcC","versionId":"f173da81-f134-4a70-a48e-e509d29b3351","event":"activated","userId":"c6c54691-2792-47f3-9430-dfcfc3bd2c09"}]}}